* {
	box-sizing: border-box;
	font-size: 100%;
	font-family: $font-family;
}

html,
body {
	height: 100%;
	margin: 0;
	color: $body;
	overflow-x: hidden;
}

main {
	padding: 0 0.875rem;
}

h1 {
	color: blue;
	font: $desktop-display-large-bold;
}

a {
	color: $purple-default;
	text-decoration: none;
}

#graph {
	width: 100%;
	background-color: red;
}
