* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: $font-family;
}

html,
body {
  height: 100%;
  margin: 0;
  color: #000;
  overflow-x: hidden;
  // background: #f0f0f0;
}

main {
  padding: 0 0.875rem;
}

h1 {
  color: black;
}

a {
  color: $purple-default;
  text-decoration: none;
}

.center-header {
  text-align: center;
}

.hidden {
  visibility: hidden;
  display: none;
}

.caption {
  color: $placeholder;
  font: $mobile-text-x-small;
  padding-top: 5px;
}

object.logo {
  background-image: url(../assets/imgs/logo.png); // fallback if svg fails to load
  background-size: cover;
}
