.button {
  border-radius: 0.625rem !important;
  color: $off-white;
  font: $desktop-link-x-small;
  width: 12.5rem !important;
  height: 3.125rem !important;
  border-width: 0 !important;
  text-decoration: none;
  text-align: center;
  padding: 1.125rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  outline: none;

  &.primary {
    background: $purple-default;

    &:hover {
      background: $purple-light;
    }

    &:active {
      background: $purple-dark;
    }

    &:disabled {
      background: $input-background;
      color: #a0a3bd;
    }
  }

  &.secondary {
    border: 1px solid $purple-default;
    background: $off-white;
    color: $purple-default;

    &:hover {
      background: $purple-default;
      color: $off-white;
    }
  }

  &:active {
    background: $purple-dark;
    color: $off-white;
  }

  &.icon {
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 50% !important;
    position: relative;

    &::after {
      position: absolute;
      left: 0.35rem;
      top: 0.4rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    &:disabled {
      background: $input-background;
      color: #a0a3bd;
    }

    &.back {
      transform: rotate(180deg);
    }
  }

  &.warning {
    background: $red-dark;

    &:hover {
      background: $red-default;
    }

    &:active {
      background: #802b22;
    }

    &:disabled {
      background: $input-background;
      color: #a0a3bd;
    }
  }
}

@include tablet {
  .button {
    width: 15.625rem;
    height: 3.75rem;
    font-size: $desktop-link-small;

    &.icon {
      width: 3.375rem !important;
      height: 3.375rem !important;
      border-radius: 1.6875rem !important;

      &::after {
        left: 0.9375rem;
        top: 0.9375rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

#add-album-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#add-bottom-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}