#family-container {
  background: $background;
  position: absolute;
  width: 100%;
  top: 3.75em;
  border-radius: 0 0 0.875em 0.875em;

  #container-toggle {
    padding: 0.875em;
    cursor: pointer;
    text-align: center;
    margin-top: -15px;

    .bar {
      display: block;
      height: 0.5em;
      width: 2em;
      background: $placeholder;
      margin: 0 auto;
      border-radius: 0.25em;
    }
  }

  #inner-container {
    height: 0;
    overflow: hidden;

    &.open {
      height: calc(100vh - 3.75rem - 4.5rem - 2rem);
      padding: 1.875em 1.5em 0.5em;
      overflow-y: scroll;
    }

    input {
      width: 100%;
    }

    h2 {
      font: $mobile-display-small-bold;
    }
  }
}

#family-list {
  margin: 0 -0.5em;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.25em;

      .user-info {
        padding: 0.5em;
        border-radius: 0.625rem;
        transition: background 0.1s ease-in-out;
        text-align: left;
        cursor: pointer;

        &:hover {
          background: $input-background;
        }

        div.imgname {
          div:last-child {
            margin-top: 0;
          }
        }
      }

      .family-check {
        input[type="checkbox"] {
          position: absolute;
          left: 0;
          opacity: 0;

          &:checked {
            + .user-info {
              background: $line;
            }
          }
        }
      }
    }
  }

  h3 {
    font: $mobile-display-x-small-bold;
    color: $body;
    margin: 0.5em 0 0;
  }
}

@include tablet {
  #family-container {
    top: 4.6875em;

    #inner-container {
      &.open {
        height: calc(100vh - 4.6875em - 4.5rem - 2rem);
      }
    }
  }
}

@include desktop {
  #family-container {
    position: static;
    width: 30em;
    height: calc(100% - 4.25em);
    order: 2;
    overflow-y: scroll;

    #container-toggle {
      display: none;
    }

    #inner-container {
      height: auto;
      padding: 1.875em 1em;

      &.open {
        height: auto;
      }
    }
  }
}
