.full-height {
	display: flex;
	flex-direction: column;
	height: 100%;

	header {
		flex: 0 1 auto;
	}

	.full-height-content {
		flex: 1 1 auto;
	}

	#mobile-nav-container {
		flex: 0 1 auto;
		position: static;
	}
}

@include desktop {
	.full-height {
		flex-flow: row wrap;
		align-items: stretch;

		header {
			width: 100%;
			height: 6.25em;
		}
	}
}
