header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 3.75em;
	padding: 1em;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
	background: $off-white;

	.header-box {
		width: 100%;
		height: 100%;
		max-width: 90em;
		display: flex;
		align-items: center;
		justify-content: center;

		.header-title {
			font: $mobile-display-small-bold;
			font-variant-ligatures: no-common-ligatures;
			color: $purple-default;
		}

		.header-nav {
			display: none;
		}
	}

	&.front-header {
		.header-box {
			overflow-x: hidden;
			overflow-y: visible;

			.nav-toggle {
				position: absolute;
				right: 1em;

				input[type="checkbox"] {
					display: flex;
					width: 2.5em;
					height: 2em;
					position: absolute;
					cursor: pointer;
					opacity: 0;
					z-index: 13;

					&:checked ~ span {
						opacity: 1;
						transform: rotate(45deg) translate(-0.1875em, -0.0625em);
						background: $purple-dark;

						&:nth-last-child(2) {
							opacity: 0;
							transform: rotate(0deg) scale(0.2, 0.2);
						}

						&:last-child {
							transform: rotate(-45deg) translate(0, -0.0625em);
						}
					}
				}

				span {
					display: flex;
					width: 1.8125em;
					height: 0.125em;
					margin-bottom: 0.3125em;
					position: relative;
					background: $purple-default;
					border-radius: 3px;
					z-index: 12;
					transform-origin: 0.3125em 0em;
					transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
						background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

					&:first-child {
						transform-origin: 0% 0%;
					}

					&:last-child {
						transform-origin: 0% 100%;
					}
				}
			}

			.header-nav {
				display: block;
				position: absolute;
				height: 100vh;
				width: 18.75em;
				padding: 3em 2em;
				top: 0;
				right: 0;
				background: $background;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
				transform: translate(100%, 0);
				transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

				.nav-link {
					display: block;
					margin-bottom: 2em;
					padding: 0.5em 0;

					a {
						font: $mobile-text-large;
						color: $body;
					}

					&.active {
						border-bottom: 2px solid $purple-default;

						a {
							color: $purple-default;
						}
					}
				}
			}
		}
	}
}

@include tablet {
	header {
		height: 4.6875em;
	}
}

@include desktop {
	header,
	header.front-header {
		position: static;
		height: 6.25em;

		.header-box {
			margin: 0 auto;
			padding: 0 3rem;
			justify-content: space-between;

			.header-title {
				font: $desktop-display-small-bold;
				font-variant-ligatures: no-common-ligatures;
			}

			.header-nav {
				display: flex;
				font: $desktop-text-medium;
				justify-content: space-between;

				.nav-link {
					text-align: center;
					padding: 0.25rem 0;
					margin: 0.5em;

					a {
						color: $body;
						padding: 0.5rem;
					}

					&.active {
						border-bottom: 2px solid $purple-default;

						a {
							color: $purple-default;
						}
					}
				}
			}
		}
	}
}
