#mobile-nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.5em;
  z-index: 100;

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.09);
    background-color: $off-white;

    .nav-link {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          display: inline-block;
          height: 1.5em;
          width: 1.5em;
          margin-bottom: 0.25rem;

          svg {
            * {
              stroke: $body;
            }
          }
        }

        p {
          font: $mobile-link-x-small;
          color: $body;
          margin: 0;
        }
      }

      &.active {
        a {
          .icon {
            svg {
              * {
                stroke: $purple-default;
              }
            }
          }

          p {
            color: $purple-default;
          }
        }
      }
    }
  }
}

.nav-link {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      display: inline-block;
      height: 1.5em;
      width: 1.5em;
      margin-bottom: 0.25rem;

      svg {
        g {
          ellipse {
            stroke: $body;
            fill: $body;
          }
        }
      }
    }

    p {
      font: $mobile-link-x-small;
      color: $body;
      margin: 0;
    }
  }

  &.active {
    a {
      .icon {
        svg {
          g {
            ellipse {
              stroke: $purple-default;
              fill: $purple-default;
            }
          }
        }
      }

      p {
        color: $purple-default;
      }
    }
  }
}

@include desktop {
  #mobile-nav-container {
    display: none;
  }
}

.tree-nav-fix {
  margin-top: -0.28em;
  margin-left: -0.25em;
}
