.modal {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: adjust-color($label, $alpha: -0.2);
  padding: 1.5em;

  .modal-inner {
    position: relative;
    background-color: $off-white;
    width: 100%;
    padding: 3em 1em;
    border-radius: 10px;
    text-align: center;
    font: $mobile-text-x-small;
    z-index: 100;

    // close button
    button.cross {
      position: absolute;
      top: 1em;
      right: 1em;
    }
  }
}
