.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

img#logo-ob1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
}

h2#h2-ob1 {
  font-size: 2rem;
}

p#p-ob1 {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 5rem;
  line-height: 23px;
}

section.choices {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  padding: 2rem 0;
  justify-content: space-around;
}

section.image {
  padding-top: .25rem;
}

#imgradio input[type="radio"] {
  display: block;
  border: 1.5px solid #eff0f6;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: 110px;
  height: 88px;
  background-image: url(../assets/imgs/maketree.png);
  background-repeat: no-repeat;
  outline: none;
}

.imgradio label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}


.back-arrow{
  width:24px;
  height:24px;
  transform: rotate(180deg);
  position: absolute;
  margin-top: 60px;
  margin-left: 25px;
}