.container {
    margin: 0 auto;
    width: 100vw;
    text-align: center;
}

img#logo-ob1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem;
}

h2#h2-ob1 {
    font-size: 2rem;
}

p#p-ob1 {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 5rem;
    line-height: 23px;
}

section.choices {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    padding: 2rem 0;
    justify-content: space-around;
}

section.image {
    padding-top: 5rem;
}