// container for creating posts
.create-new-post {
  padding: 1rem 1rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 377px;
  align-items: center;
  // background: #fff;
}

main.pageType-addPost {
  display: flex;
}

#post-leveler {
  margin-top: 3px;
}

.feed-btn {
  background: #922aff;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: black;
  border-width: 0;
  border-radius: 50%;
}

// Image + Username and title for creating posts
.imgname {
  display: flex;
  width: 250px;
  align-items: center;
  // margin: 0 auto;
}

div.end {
  margin: 0 auto;
  width: 380px;
  text-align: center;
  padding: 3rem 0;
}

div.end img {
  width: 10%;
}

.imgname div:last-child {
  margin-left: 5px;
}

.imgname div:last-child h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: $body;
}

.imgname div:last-child span {
  font-weight: 400;
  font-size: 12px;
  color: #6e7191;
}

#add-post-control {
  display: flex;
  position: relative;

  #add-options,
  #add-options:focus {
    display: inline-block;
    outline: 0;
    position: absolute;
    right: 0;
    margin: 0 auto;
    bottom: -5.5rem;
    width: 14rem;
    height: 80px;
    z-index: 20;
    text-align: justify;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
  }

  .add-option {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 2rem;
    padding-top: 10px;
    color: #922aff !important;
    border-radius: 15px;

    &:hover,
    &:focus {
      color: white !important;
      background-color: #922aff;
    }
  }
}
#add-options:hover {
  background-color: $purple-default;
  color: white;
}

.buttons {
  // float: right;
  // width: 68px;
  margin-left: 46px;
  // margin-top: 15px;
}

.afiye-posts {
  // padding-bottom: 0.5rem;
  // width: 100vw;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  // border-bottom: 1px solid #c1bcbc;
 border-radius: 20px;
  width: 377px;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  // border-radius: 10px;

  > div:not(.user-info):not(.img):not(.post-container) {
    padding: 0 1rem;
  }
}

#add-post {
  // display: inline-block;
  // margin-top: 0.75em;
  // color: #922aff !important;
  // border: 1px solid #00000029;
  // padding: 3rem;
  // border-radius: 1rem;
  // margin-top: 4rem;
  background: white;
  width: 300px;
  height: 200px;
  // box-shadow: 0px 0px 8px 10px #8888882b;
}

// #plus-new {
//   display: inline-block;
//   margin-top: 0.75em;
//   color: #922aff !important;
// }

#cnm-bck {
  background-image: url(../../../assets/imgs/cnm-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 93%;
}

#no-posts > h2 {
  padding-right: 10px;
  padding-left: 10px;
}
#no-posts > a {
  padding-right: 10px;
  padding-left: 10px;
}

.user-info {
  display: flex;
  // width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1px solid #e7e7e7;
  justify-content: space-between;
}

div.timestamp {
  margin-top: 34px;
  font-size: 13px;
  position: relative;

  .edit-post {
    position: absolute;
    right: 0;
    display: block;
    width: 6rem;
    text-align: right;
    top: -22px;
  }
}

div.timestamp img {
  padding-right: 1rem;
}

div.timestamp span {
  font-size: 0.6rem;
  color: #6e7191;
}

.post-container {
  margin: auto;
}

.description {
  margin: 0 auto;
  max-width: 377px;
}

div.img {
  padding-top: 1rem;
  // width: 400px;
  margin: 0 auto;
  text-align: center;
}

// Avatar icon

.story-trial {
  width: 100px;
  overflow: hidden;
}

.story-trial img {
  width: 70px;
  border-radius: 50%;
  position: absolute;
  z-index: -100;
  margin: 15px;
}

.story-trial svg {
  fill: none;
  stroke: #8a3ab8;
  stroke-width: 3px;
}
.avatars {
  // grid-area: avatar;
  display: flex !important;
}

.story {
  width: 70px;
  overflow: hidden;
  height: 64px;
  margin-right: 5px;
}

.story img {
  width: 48px;
  border-radius: 50%;
  // position: absolute;
  // z-index: -100;
  margin: 11px;
}
.tagged-users {
  display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title"
    "avatar";
}

.story svg {
  fill: none;
  stroke: #8a3ab8;
  stroke-width: 3px;
  position: relative;
  top: -115%;
  // z-index: -1000;
}

#tagged {
  overflow-x: scroll;

  #tagged-members {
    display: flex;
    a {
      color: $title-active;
      padding: 0.25rem;
      width: 6.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0.25rem 0;
      }
    }
  }
}

.post-media {
  width: 100%;
  // height: 13rem;

  .media-item {
    width: 100%;
    height: 100%;
    // border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  &.multi {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 10rem);
    grid-template-areas:
      "one two"
      "one three";
    column-gap: 10px;
    row-gap: 10px;

    .media-item:first-child {
      grid-area: one;
    }

    .media-item:nth-child(2):not(:last-child) {
      grid-area: two;
    }

    .media-item:nth-child(2):last-child {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .media-item:last-child {
      grid-area: three;

      .media-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: adjust-color($label, $alpha: -0.4);
        color: #fff;
        font: $mobile-display-small-bold;
      }
    }
  }
}

#user-posts {
  display: flex;
  width: 430px;
  margin: 0 auto;
  overflow-x: scroll;
  padding-bottom: 1rem;

  p:only-child {
    margin: 0 auto;
  }

  .post-option {
    width: 10rem;
    margin: 0 0.5rem;
    position: relative;

    label {
      cursor: pointer;
      height: 100%;
      display: inline-block;
      border-radius: 10px;
      transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

      .post-img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 10px;
      }

      .post-title {
        font: $mobile-text-medium;
        color: $title-active;
        margin: 0.5rem;
        transition: inherit;
      }

      p {
        font: $mobile-text-small;
        margin: 0 0.5rem 0.5rem;
      }
    }

    .newalb {
      display: flex;
      margin: 0 auto;
      max-width: 430px;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
    }

    .newalb h2 {
      font-weight: 500 !important;
      color: black !important;
      text-align: center !important;
      font-size: 25px !important;
    }
    .post-title:first-child {
      padding-left: 2rem;
    }

    input[type="checkbox"] {
      height: 1px;
      width: 1px;
      opacity: 0;
      position: absolute;

      &:hover {
        + label {
          background-color: $input-background;
        }
      }

      &:checked {
        + label {
          background-color: $purple-default;
          color: #fff !important;

          .post-title {
            color: inherit;
          }
        }
      }
    }
  }
}

#post-media-preview {
  & > div {
    margin: 1rem auto 2rem;
  }
  img {
    width: 100%;
    max-width: 430px;
    vertical-align: middle;
  }
}

#post-media {
  @extend #post-media-preview;

  .img-check {
    position: relative;

    label {
      cursor: pointer;
      display: block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background 0.1s ease-in;
      }

      &::after {
        font-family: $icon-font;
        font-size: 1.5em;
        content: "\e904";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background: $red-dark;
        color: $off-white;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        opacity: 0;
        transition: opacity 0.1s ease-in;
      }

      &:hover {
        &::before {
          background: adjust-color($red-default, $alpha: -0.75);
          background-size: contain;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    input[type="checkbox"] {
      position: absolute;
      left: 0;
      opacity: 0;

      &:checked {
        & + label {
          &::before {
            background: adjust-color($red-default, $alpha: -0.75);
            background-size: contain;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

@include tablet {
  .description {
    margin: 0 auto;
    max-width: 700px;
  }
  // .post-container {
  //     width: 700px !important;
  //     // padding-top: 3rem;

  //    }

  #add-post {
    display: inline-block;
    // margin-top: 0.75em;
    color: #922aff !important;
    border: 1px solid #00000029;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 4rem;
    background: white;
    height: 700px;
    width: 500px;
    box-shadow: 0px 0px 8px 10px #8888882b;
  }

  .create-new-post {
    width: 700px !important;
    padding-top: 1rem;
  }

  .imgname {
    display: flex;
    width: 475px;
    align-items: center;
  }

  .afiye-posts {
    width: 700px !important;
  }

  .footer-box {
    display: none;
  }

  .imgmore {
    display: grid;
    padding: 23px;
    padding-top: 1rem;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "one two"
      "one three";
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
  }

  // #cnm-bck {
  //   background-image: url(../../../assets/imgs/cnm-1200-2.png);
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   height: 93%;
  // }
}

@include desktop {
  .footer-box {
    display: block;
  }

  #post-leveler {
    margin-top: 12px;
  }

  #add-post {
    display: inline-block;
    // margin-top: 0.75em;
    color: #922aff !important;
    border: 1px solid #00000029;
    padding: 3rem;
    border-radius: 1rem;
    margin-top: 4rem;
    background: white;
    height: 700px;
    width: 500px;
    box-shadow: 0px 0px 8px 10px #8888882b;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-box {
    display: block;
  }

  #post-leveler {
    margin-top: 12px;
  }

  .buttons {
    margin-left: 115px !important;
  }

  .avatars {
    // grid-area: avatar;
    display: flex !important;
  }

  #cnm-bck {
    background-image: url(../../../assets/imgs/cnm-1200-2.png);
    height: 93%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
