.pageType-profile {
  #profile-overview {
    margin: 0 -0.875rem;

    &.profileColor-pink {
      background-image: linear-gradient(
        adjust-color($profile-pink, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-magenta {
      background-image: linear-gradient(
        adjust-color($profile-magenta, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-red {
      background-image: linear-gradient(
        adjust-color($profile-red, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-orange {
      background-image: linear-gradient(
        adjust-color($profile-orange, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-yellow {
      background-image: linear-gradient(
        adjust-color($profile-yellow, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-green {
      background-image: linear-gradient(
        adjust-color($profile-green, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-teal {
      background-image: linear-gradient(
        adjust-color($profile-teal, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-light-blue {
      background-image: linear-gradient(
        adjust-color($profile-light-blue, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-dark-blue {
      background-image: linear-gradient(
        adjust-color($profile-dark-blue, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-purple {
      background-image: linear-gradient(
        adjust-color($profile-purple, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-brown {
      background-image: linear-gradient(
        adjust-color($profile-brown, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-gray {
      background-image: linear-gradient(
        adjust-color($profile-gray, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    &.profileColor-black {
      background-image: linear-gradient(
        adjust-color($profile-black, $alpha: -0.5),
        rgba(255, 255, 255, 0)
      );
    }

    .inner {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0 auto 1rem;
      border-bottom: 1px solid $input-background;
      background-size: 100% 7rem;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 1rem;
      grid-template-areas:
        "avatar profile-info"
        "profile-actions personal-info";
      max-width: 485px;
    }

    .avatar {
      grid-area: avatar;
      width: 7rem;
      height: 7rem;
      margin: 10px;
      justify-self: center;

      &.profileColor-pink {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-pink;
      }

      &.profileColor-magenta {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-magenta;
      }

      &.profileColor-red {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-red;
      }

      &.profileColor-orange {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-orange;
      }

      &.profileColor-yellow {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-yellow;
      }

      &.profileColor-green {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-green;
      }

      &.profileColor-teal {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-teal;
      }

      &.profileColor-light-blue {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-light-blue;
      }

      &.profileColor-dark-blue {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-dark-blue;
      }

      &.profileColor-purple {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-purple;
      }

      &.profileColor-brown {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-brown;
      }

      &.profileColor-gray {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-gray;
      }

      &.profileColor-black {
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-black;
      }
    }

    .profile-info {
      grid-area: profile-info;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font: $mobile-text-large;
      }
    }

    .personal-info {
      grid-area: personal-info;

      .birthdate {
        font: $mobile-text-x-small;

        p {
          color: $placeholder;
          margin: 0 0.25rem;
        }

        i.icon {
          color: $purple-default;
        }
      }

      .location {
        @extend .birthdate;
      }
    }

    .profile-actions {
      grid-area: profile-actions;
      align-self: end;
      text-align: center;

      a {
        font: $mobile-link-x-small;
        display: block;
      }
    }
  }

  #profile-tabs {
    .tab-bar {
      max-width: 43.75rem;
      margin: 0 auto;
      a {
        color: $placeholder;
        font: $mobile-text-x-small;
        margin-right: 1.5rem;
        position: relative;
        padding-bottom: 0.25rem;
        transition: color 0.1s ease-in-out;

        &:after {
          content: "";
          position: absolute;
          left: -0.25rem;
          bottom: 0;
          width: calc(100% + 0.5rem);
          height: 0.1875rem;
          border-radius: 1px;
          background-color: adjust-color($label, $alpha: -1);
          transition: background-color 0.1s ease-in-out;
        }

        &:hover,
        &:focus {
          color: $label;

          &:after {
            background-color: $label;
          }
        }

        &.active {
          color: $purple-default;

          &:after {
            background-color: $purple-default;
          }
        }
      }
    }

    .tab-container {
      max-width: 700px;
      margin: 0 auto;

      &.hidden {
        display: none;
      }
    }

    #tab-recent-activity {
      #imm-family {
        overflow-x: scroll;

        #imm-family-members {
          display: flex;
          a {
            color: $title-active;
            padding: 0.25rem;
            width: 6.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              margin: 0.25rem 0;
            }
          }
        }
      }

      p:last-child {
        text-align: center;
      }
    }
  }
}
