#desktop-register {
  display: none;
}

.left {
  grid-area: img;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  // background-color: blueviolet;
  // height: 100%;
  // margin: 0 auto;
  // width: 100%;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
}

.order {
  display: block;
  width: 330px;
  margin: 0 auto;
}

.order .input-container input {
  width: 100%;
}

// #profile-setup #profile-color-select {
//   width: 18.625em;
// }

.right {
  grid-area: form;
  border: 1px solid #0000002b;
  padding: 2.5rem;
  border-radius: 18px;
  background-color: white;
  text-align: center;
  margin-right: 3rem;
  height: 46rem;
  width: 450px;
}

.new {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

div.login-mobile h1 {
  font-size: 1.5rem;
}

div.login-mobile {
  padding-top: 8rem;
  text-align: center;
  margin: 0 auto;
}

.login-bubble1 {
  width: 20rem;
}
.login-bubble2 {
  width: 25rem;
}

// div.login-mobile img {
//     width: 46% !important;
// }
// .login-mobile {

// }

@include tablet {
  .order {
    display: block;
  }

  .login-mobile {
    width: 60%;
  }

  div.login-mobile h1 {
    font-size: 2rem;
  }

  div.login-mobile p {
    font-size: 1rem;
  }

  div.login-mobile {
    padding-top: 5rem !important;
  }

  // #profile-setup #profile-color-select {
  //   width: 22.625em;
  // }
  

  div.login-mobile img {
    width: 250px !important;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .login-bubble {
    width: 67%;
    left: -134px;
    opacity: 20%;
    top: 8%;
    position: fixed;
    z-index: -10;
  }

  .afiye-img {
    z-index: -5;
    max-width: 50rem;
    margin: 0 auto;
  }

  .order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "title title"
      "first second";
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0px 0px 8px 10px #8888882b;
  }

  .order .input-container input {
    width: 430px;
  }

  // #profile-setup #profile-color-select {
  //   width: 22.625em;
  // }

  #desktop-register {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-template-areas: "img form";
    height: calc(100% - 4.25em);
    background-image: url("../assets/imgs/blob.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  // div.left img {
  //   width: 675px;
  // }

  .mobile-register {
    display: none;
  }

  .login-mobile {
    width: 55%;
  }

  div.login-mobile h1 {
    font-size: 1.5rem;
  }

  div.login-mobile p {
    font-size: 1rem;
    // padding-bottom: 2rem;
  }

  div.login-mobile img {
    width: 250px !important;
    margin-bottom: 2rem;
  }

  div.login-mobile {
    padding-top: 5rem !important;
  }
}

@media only screen and (min-width: 1150px) {
  // div.left img {
  //   width: 70rem;
  // }

  div.left {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  // #profile-setup #profile-color-select {
  //   width: 22.625em;
  // }

  div.right {
    margin-right: 3rem;
  }
}
