.pageType-settings {
  padding: 2rem;
  padding-bottom: 4.5em;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 2rem;
  margin-top: 2rem;
  border: 1px solid #00000029;

  h1 {
    text-align: center;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 64px;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 10px;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $line;
  }

  i {
    color: $body;
  }

  .sub-item {
    align-items: center;
    display: flex;

    i {
      font-size: 1.5rem;
      padding-right: 13px;
    }

    span {
      color: $purple-default;
    }
  }

  &:hover {
    background-color: $line;
    margin: 0 -0.875rem;
    padding: 0.5rem 0.875rem;

    &::after {
      width: calc(100% - 1.75rem);
    }
  }

  &.active {
    background-color: $input-background;
    margin: 0 -0.875rem;
    padding: 0.5rem 0.875rem;

    &::after {
      width: calc(100% - 1.75rem);
    }
  }
}

#settings-items {
  max-width: 37.5rem;
  justify-self: center;

  section {
    position: relative;

    & > h2 {
      text-align: center;
    }

    button.back {
      position: absolute;
      top: -0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include tablet {
  .pageType-settings {
    display: grid;
    grid-template-areas:
      "title title"
      "menu content";
    column-gap: 1rem;
    grid-template-columns: 20rem auto;
    padding: 2rem;
    padding-bottom: 4.5em;
    max-width: 768px !important;
    border: 1px solid #00000029;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 10px #8888880f;

    h1 {
      grid-area: title;
      text-align: initial;
      margin-left: 20px;
    }

    #settings-menu {
      grid-area: menu;
      padding: 0 0.875rem;
      width: 250px;
      margin: 0;
    }

    #settings-items {
      grid-area: content;
      text-align: center;

      section {
        position: relative;
        width: 100%;
        & > h2,
        button.back {
          display: none;
        }
      }
    }
  }
}

//here

// min width 768px

// main {
//   width: 768px;
//     border: 1px solid #00000029;
//     margin-top: 4rem;
//     padding: 2rem;

//     border-radius: 1rem;
//     box-shadow: 0px 0px 8px 10px #8888880f;
// }

// #settings-menu {
//   width: 250px;
//   margin: 0;
// }

// #settings-items {
//   grid-area: content;
//   text-align: center;
// }

// #settings-items section {
//   position: relative;
//     width: 100%;
// }
