.pageType-settings {
  padding-bottom: 4.5em;

  h1 {
    text-align: center;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 64px;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 10px;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $line;
  }

  i {
    color: $body;
  }

  .sub-item {
    align-items: center;
    display: flex;

    i {
      font-size: 1.5rem;
      padding-right: 13px;
    }

    span {
      color: $purple-default;
    }
  }

  &:hover {
    background-color: $line;
    margin: 0 -0.875rem;
    padding: 0.5rem 0.875rem;

    &::after {
      width: calc(100% - 1.75rem);
    }
  }

  &.active {
    background-color: $input-background;
    margin: 0 -0.875rem;
    padding: 0.5rem 0.875rem;

    &::after {
      width: calc(100% - 1.75rem);
    }
  }
}

#settings-items {
  max-width: 37.5rem;
  justify-self: center;

  section {
    position: relative;

    & > h2 {
      text-align: center;
    }

    button.back {
      position: absolute;
      top: -0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include tablet {
  .pageType-settings {
    display: grid;
    grid-template-areas:
      "title title"
      "menu content";
    column-gap: 1rem;
    grid-template-columns: 20rem auto;
    padding-bottom: 4.5em;

    h1 {
      grid-area: title;
      text-align: initial;
      margin-left: 20px;
    }

    main {
      padding-bottom: 0;
    }

    #settings-menu {
      grid-area: menu;
      width: 20rem;
      padding: 0 0.875rem;
    }

    #settings-items {
      grid-area: content;

      section {
        & > h2,
        button.back {
          display: none;
        }
      }
    }
  }
}
