.mobile-text-medium { 
    font: $mobile-text-medium;
    color: black;
}
hr.solid {
    border-top: 1px solid;
    color: $purple-dark;
    opacity: 0.08;
    width: 320px;
    left: 30px;
  }
.mobile-text-small { 
    font: $mobile-text-small;
}
.mobile-link-small { 
    font: $mobile-link-small;
}
.mobile-text-x-small { 
    font: $mobile-text-x-small;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #922AFF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #922AFF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    height: 28px;
    width: 48px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }