.input-container {
	margin-bottom: 10px;
	max-width: 430px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: left;
  color: #6e7191;
}

.input-container span {
  padding-left: 10px;
  font-size: 10px;
  font-family: $mobile-text-small;
}

.mobile {
  max-width: 300px !important;
  height: 50px !important;

}

input {
	// display: block;
	border: 1.5px solid #eff0f6;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 10px;
  margin-top: 10px;
	width: 430px;
  height: 50px;
	outline: none;
  background-color: white;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select {
  width: 430px;
  height: 50px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1.5px solid #eff0f6;
}

// Left Icon

.inputLeftIcon input[type="text"] {
  padding-left: 30px;
}

.inputLeftIcon input[placeholder="First Name"] {
  padding-left: 30px;
}

// .inputLeftIcon {
// 	position: relative;
// }

// .inputLeftIcon i {
// 	position: absolute;
// 	left: 0;
// 	padding: 9px 8px;
// 	color: #aaa;
// 	transition: 0.3s;
// 	font-size: 15px;
// }

// Right Icon

// .inputRightIcon input[type="text"] {
// 	padding-left: 30px;
// }

.inputRightIcon {
  position: relative;
  width: 430px;
}

.inputRightIcon i {
  position: absolute;
  left: 95%;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  font-size: 15px;
}

.order {
  display: block;
}

.inputLeftIcon {
  position: relative;
  width: 430px;
}

.inputLeftIcon i {
  position: absolute;
  left: 0%;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  font-size: 15px;
}

// .mobile {
// 	max-width: 50% !important;
// }

.input-success {
  border: 1.5px solid green !important;
}

.input-container[data-error] .input {
  border-color: #c92432;
  background: white;
  color: black;
}

.input-container[data-error]::after {
  content: attr(data-error);
  font-size: 10px;
}

input:disabled {
  background: #eff0f6;
  border: 1.5px solid #a0a3bd;
}

// input::after {
//     background-image: #EFF0F6;
//     border: 1.4px solid #A0A3BD;
//     content: "fire";
// }

input:focus {
  border: 1.5px solid #5700b2;
}

input::placeholder {
  color: #6e7191;
  transition: color 0.3s ease;
}

input:focus::placeholder {
  color: transparent;
}

input:hover {
  border: 1.5px solid #922aff;
}

.success-caption {
  font-size: 10px;
}

.error-caption {
  font-size: 10px;
}

input[type="radio"] {
  display: block;
  border: 1.5px solid #eff0f6;
  border-radius: 100%;
  padding: 8px;
  margin-bottom: 10px;
  width: 88px !important;
  height: 88px !important;
  background-image: url(../assets/imgs/maketree.png);
  background-repeat: no-repeat;
  outline: none;
}

input[type="radio"]:hover {
  border: 1.5px solid #922aff;
}

input[type="radio"]:checked {
  border: 1.5px solid #922aff;
}

// #j-tree input[type="radio"] {
// 	background-image: url(../assets/imgs/jointree.png) !important;
// }

.file-input {
  display: flex;
  justify-content: center;
  label {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $body;
    font: $mobile-display-small-bold;
    cursor: pointer;

    &::before {
      content: "";
      width: 7em;
      height: 7em;
      border-radius: 50%;
      background: center / 50% no-repeat url("../assets/icons/upload.svg");
      background-color: $purple-default;
      margin-bottom: 1.5em;
      transition: background-color 0.2s ease-in-out;
    }
  }

  input[type="file"] {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;

    &:hover + label,
    &:focus + label {
      &::before {
        background-color: $purple-dark;
      }
    }
  }
}

#profile-setup form {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr;
  /* align-items: center; */
  width: 1000px;
  margin: 0 auto;
  grid-template-areas:
      'title title'
      'first second';
}

.profile-top {
  grid-area: title;
  padding-bottom: 2rem;
}

// .pickcolor {
//   grid-area: colorz;
// }

.First {
  grid-area: first
}

.Second {
  grid-area: second;
}

#profile-color-select {
  grid-area: colorz;
}


@media only screen and (min-width: 1024px) {
  // .First {
  //   width: 500px;
  // }
  
  // .Second {
  //   width: 500px;
  // }

}

