
.input-container {
	margin-bottom: 10px;
	max-width: 430px;
}

.input-container span {
	padding-left: 10px;
	font-size: 10px;
	font-family: $mobile-text-small;
}

.mobile {
	max-width: 325px !important
;
}
input {
	display: block;
	border: 1.5px solid #eff0f6;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 10px;
	width: 430px;
	outline: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

// Left Icon

.inputLeftIcon input[type="text"] {
	padding-left: 30px;
}

.inputLeftIcon input[placeholder="First Name"] {
	padding-left: 30px;
}

// .inputLeftIcon {
// 	position: relative;
// }

// .inputLeftIcon i {
// 	position: absolute;
// 	left: 0;
// 	padding: 9px 8px;
// 	color: #aaa;
// 	transition: 0.3s;
// 	font-size: 15px;
// }

// Right Icon

// .inputRightIcon input[type="text"] {
// 	padding-left: 30px;
// }

.inputRightIcon {
	position: relative;
	width: 430px;
}

.inputRightIcon i {
	position: absolute;
	left: 95%;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
	font-size: 15px;
} 


.inputLeftIcon {
	position: relative;
	width: 430px;
}

.inputLeftIcon i {
	position: absolute;
	left: 0%;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
	font-size: 15px;
} 

// .mobile {
// 	max-width: 50% !important;
// }

.input-success {
	border: 1.5px solid green !important;
}

.input-container[data-error] .input {
	border-color: #c92432;
	background: white;
	color: black;
}

.input-container[data-error]::after {
	content: attr(data-error);
	font-size: 10px;
}

input:disabled {
	background: #eff0f6;
	border: 1.5px solid #a0a3bd;
}

// input::after {
//     background-image: #EFF0F6;
//     border: 1.4px solid #A0A3BD;
//     content: "fire";
// }

input:focus {
	border: 1.5px solid #5700b2;
}

input::placeholder {
	color: #6e7191;
	transition: color 0.3s ease;
}

input:focus::placeholder {
	color: transparent;
}

input:hover {
	border: 1.5px solid #922aff;
}

.success-caption {
	font-size: 10px;
}

.error-caption {
	font-size: 10px;
}

input[type="radio"] {
    display: block;
    border: 1.5px solid #eff0f6;
    border-radius: 100%;
    padding: 8px;
    margin-bottom: 10px;
    width: 88px !important;
    height: 88px !important;
    background-image: url(../assets/imgs/maketree.png);
    background-repeat: no-repeat;
    outline: none;
}

input[type="radio"]:hover {
	border: 1.5px solid #922aff;
}

// #j-tree input[type="radio"] {
// 	background-image: url(../assets/imgs/jointree.png) !important;
// }