#tree-tutorial {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
.ellipse {
  background: #b166ff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.breadcrumbs {
  margin: 20px auto;
  height: 25px;
  width: 200px;
}
