<%- include('../../partials/user-header') %>

<div class="container">
  <section class="image">
    <img
      src="../assets/imgs/claimnode.png"
      alt=""
      style="padding-bottom: 2rem"
    />
    <h2 id="h2-ob1">Monroe Family</h2>
    <p>Made by Phil Monroe</p>

    <div class="input-container" style="margin: 0 auto; padding-bottom: 2rem">
      <input
        class="input mobile"
        type="text"
        name="fname"
        placeholder="Name"
        style="margin: 0 auto"
      />
    </div>
    <div class="input-container" style="margin: 0 auto; padding-bottom: 2rem">
      <input
        class="input mobile"
        type="text"
        name="fname"
        placeholder="Relationship to Admin"
        style="margin: 0 auto"
      />
    </div>
    <a href="/account/pcok" class="button primary">Save</a>
  </section>
  <!-- <%- include('../../partials/user-mobile-nav') %> -->
  <div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
  </div>
</div>
