<%- include('./partials/user-header') %>


<div class="profile-section">
	<p class="profile-create">Create a Profile</p>
	
<div class="new-avatar"></div>


<p class="profile-name">Tracy Doe</p>
<p class="profile-name-info">This is how your name will appear</p>



	<div class="birthdate">
<p class="birthdate-text">Birthdate</p>
</div>


<div class="location">
<p class="location-text">Location (Optional)</p>
</div>



	<div class="button">
	<a href="#" class="button-text">Save</a>
	</div>

</div>

    </section>
    <%- include('./partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>