<%- include('./partials/user-header') %>

<div class="profiles-section">
  <p class="profiles-confirm">Confirm Your Family</p>
  <p class="profiles-subtext">
    Confirm that all the information in the nodes is correct. You will have the
    opportunity to edit these until they create an account!
  </p>

  <div class="avatars-sections">
    <div class="avatars"></div>
    <p class="family-title">Julia Monroe</p>
    <p class="family-relation">Sister</p>
    <div class="icon-background">
      <img class="icon-edit" src="assets\icons\edit.svg" />
    </div>

    <div class="avatars"></div>
    <p class="family-title">Julia Monroe</p>
    <p class="family-relation">Sister</p>
    <div class="icon-background">
      <img class="icon-edit" src="assets\icons\edit.svg" />
    </div>

    <div class="avatars"></div>
    <p class="family-title">Julia Monroe</p>
    <p class="family-relation">Sister</p>
    <div class="icon-background">
      <img class="icon-edit" src="assets\icons\edit.svg" />
    </div>

    <div class="avatars"></div>
    <p class="family-title">Julia Monroe</p>
    <p class="family-relation">Sister</p>
    <div class="icon-background">
      <img class="icon-edit" src="assets\icons\edit.svg" />
    </div>

    <div class="avatars"></div>
    <p class="family-title">Julia Monroe</p>
    <p class="family-relation">Sister</p>
    <div class="icon-background">
      <img class="icon-edit" src="assets\icons\edit.svg" />
    </div>
  </div>
  <div class="button">
    <a href="#" class="button-text">Confirm</a>
  </div>
</div>
