<div class="container">
  <section class="image">
    <form action="/account/inputcode" method="post">
      <h2 id="h2-ob1">Input Code</h2>

      <div class="input-container" style="margin: 0 auto; padding-bottom: 2rem">
        <input
          class="input mobile"
          type="number"
          name="code"
          id="code"
          placeholder="•••••••"
          style="margin: 0 auto"
        />
      </div>
      <input type="submit" value="Next" class="button primary"></input>
    </form>
  </section>
</div>
