<%- include('./partials/user-header') %>

<div class="container">
    <section class="image" style="padding-top: 0rem">
        <img src="../assets/imgs/join-success.png" alt="">
    </section>

    <h2 id="h2-ob1"> Awesome!</h2>
    <p> Now that you have created your profile, let’s create a tree!</p>
    <p> Start by creating other profiles for your family members</p>
    

    <a href="/account/inputcode" class="button secondary">Skip</a>
    <a href="/account/inputcode" class="button primary" style="margin-top: 1rem;">Next</a>
</div>

<%- include('./partials/user-mobile-nav') %>

<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>