<%- include('../../partials/user-header') %>

<div class="container">
  <section id="image">
    <img src="../assets/imgs/mktree-2.png" alt="" />
  </section>

  <h2 id="h2-ob1">Making a Tree</h2>
  <p>Let's start with you!</p>

  <a href="/account/createprofile" class="button primary">Create Profile</a>
</div>

<%- include('../../partials/user-mobile-nav') %>

<div class="footer-box">
  <p class="footer-title">© afiye 2020</p>
</div>
