<main>
  <div class="container join-tree">
    <a href="/account/welcome" class="button primary icon back">
      <i class="icon icon-arrow"></i>
    </a>
    <section class="image">
      <img src="../assets/imgs/mktree-1.png" alt="" />
    </section>

    <h2 id="h2-ob1">Joining a network</h2>
    <p>Join your family tree with an invite code</p>

    <a href="/account/inputcode" class="button primary">Input code</a>
  </div>
</main>
