<%- include('../../partials/user-header') %>


<main>
	<h2 id="h2-ob1">Welcome to afiye.</h1>

	<form id="mode-select" action="/account/welcome" method="post">
		<h2>Are you...</h2>
		<div class="check-container">
			<input
				class="radio"
				type="radio"
				name="mode"
				id="make-a-tree"
				value="make-a-tree"
			/>
			<label for="make-a-tree">Making a Tree</label>
		</div>
		<div class="check-container" title="Feature coming soon">
			<input
				class="radio"
				type="radio"
				name="mode"
				id="join-a-tree"
				value="join-a-treek"
				disabled
			/>
			<label for="make-a-tree">Joining a Tree</label>
		</div>
		<input class="button primary" type="submit" value="Next" disabled />
	</form>
</main>

<%- include('../../partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>