<%- include('../../partials/user-header') %>

<div class="container">
  <section class="image">
    <h2 id="h2-ob1">Pick a Profile Color</h2>
    <img
      src="../assets/imgs/profileimg.png"
      alt=""
      style="padding-bottom: 2rem"
    />
    <div class="input-container" style="margin: 0 auto; padding-bottom: 2rem">
      <!-- <input
                class="input mobile"
                type="text"
                name="fname"
                placeholder="Tracy Doe"
                style="    margin: 0 auto;"
            /> -->
      <div
        class="caption"
        style="color: #a0a3bd; font-size: 12px; padding-top: 5px"
      >
        This is how your profile will appear on the tree
      </div>
    </div>

    <fieldset id="profile-color-select" style="margin: 0 AUTO">
      <legend>Select a profile color</legend>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-pink"
          value="color-pink"
        />
        <label for="color-pink"><span>Pink</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-magenta"
          value="color-magenta"
        />
        <label for="color-magenta"><span>Magenta</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-red"
          value="color-red"
        />
        <label for="color-red"><span>Red</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-orange"
          value="color-orange"
        />
        <label for="color-orange"><span>Orange</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-yellow"
          value="color-yellow"
        />
        <label for="color-yellow"><span>Yellow</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-green"
          value="color-green"
        />
        <label for="color-green"><span>Green</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-teal"
          value="color-teal"
        />
        <label for="color-teal"><span>Teal</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-light-blue"
          value="color-light-blue"
        />
        <label for="color-light-blue"><span>Light Blue</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-dark-blue"
          value="color-dark-blue"
        />
        <label for="color-dark-blue"><span>Dark Blue</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-purple"
          value="color-purple"
        />
        <label for="color-purple"><span>Purple</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-brown"
          value="color-brown"
        />
        <label for="color-brown"><span>Brown</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-gray"
          value="color-gray"
        />
        <label for="color-gray"><span>Gray</span></label>
      </div>
      <div class="check-container">
        <input
          type="radio"
          name="profileColor"
          id="color-black"
          value="color-black"
        />
        <label for="color-black"><span>Black</span></label>
      </div>
    </fieldset>
    <a href="/account/tree" class="button primary">Save</a>
  </section>
  <%- include('../../partials/user-mobile-nav') %>
  <div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
  </div>
</div>
