<%- include('../../partials/user-header') %>

<main>
  <a href="/account/tree">
    <img class="back-arrow" src="../assets/icons/arrow.svg" />
  </a>

  <%- include('../../partials/add-user-form') %>
</main>
