<%- include('../../partials/user-header') %>

<main class="pageType-addAlbum" id="cnm-bck" style="text-align: center;">
  <form method="post" action="/account/add-album" id="add-album">

    <div class="newalb">
      <h2>Create a New Album</h2>
      <button id="open-tag" class="button primary icon tag open-modal" style="margin: 0;"></button>
    </div>

    <div class="input-container">
      <label for="album-title">Title</label>
      <input type="text" name="title" id="album-title" required/>
    </div>
    <div class="input-container">
      <label for="album-description">Description</label>
      <textarea
        name="description"
        id="album-description"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>
    <div id="user-posts">
    </div>
    <div id="tag-family" class="modal hidden">
      <div class="modal-inner">
        <h2>Tag Your Family</h2>
        <button class="button primary icon cross"></button>
        <div id="family-list"></div>
        </select>
      </div>
    </div>
    <input id="add-album-button" class="button primary" type="submit" value="Share" />
  </form>
</main>
<script type="text/javascript">
  const data = <%- JSON.stringify(data) %>;
</script>
<%- include('../../partials/user-mobile-nav') %>
