<%- include('../../partials/user-header') %>


<div class="memory-section">
	<p class="memory-create">Create New Album</p>
	

	<div onclick="window.location.href = '\create-memory-tag.html';" class="tag-circle">
	<img id="tag" src="assets\icons\tag.svg">
	</div>

	<div class="album">
<p class="album-title">Album Title</p>
<p class="album-text">Album Title</p>
</div>

<div class="desc">
<p class="desc-title">Description</p>
<p class="desc-text">Description</p>
<img id="edit" src="assets\icons\edit.svg">
</div>



	<div class="memory-upload">

		<img id="upload" src="assets\icons\upload.svg">

		<p class="upload-font1">Upload Media</p>
		<p class="upload-font2">Pictures, Videos or Documents</p>

	</div>



	<div class="button">
	<a href="#" class="button-text">Save</a>
	</div>

</div>

    </section>
    <%- include('../../partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>