<%- include('../../partials/user-header') %>
<main class='pageType-addPost' style="padding: 0; margin: 0 auto; width: 300px;">

  <form
    id="add-post"
    action="/account/add-post"
    method="post"
    enctype="multipart/form-data"
  >
    <h2>Create a New Memory</h2>
    <button id="open-tag" class="button primary icon tag open-modal"></button>
    <label id="memory-title-tag" for="memory-title">Title</label>
    <input type="text" name="title" id="memory-title">
    <input
      style="width: 300px;"
      type="file"
      name="post-media-upload"
      id="post-media-upload"
      accept="image/jpeg, image/png"
      required
      class="input"
      multiple
    />
    <div id="post-media-preview"></div>
    <textarea
    style="width: 300px;
    border-radius: 6px;
    border: 1px solid #eff0f6;
    "
      id="description"
      name="description"
      cols="30"
      rows="10"
      required
    ></textarea>
    <div id="tag-family" class="modal hidden">
      <div class="modal-inner">
        <h2>Tag Your Family</h2>
        <button class="button primary icon cross"></button>
        <input
          class="input"
          type="search"
          name="search_family"
          id="search_family"
          placeholder="Family member"
        />
        <div id="family-list"></div>
        </select>
      </div>
    </div>
    <input id="add-bottom-button" class="button primary" type="submit" value="Share" />
  </form>
</main>
<%- include('../../partials/user-mobile-nav') %>
<script type="text/javascript">
  const data = <%- JSON.stringify(data) %>;
</script>