<%- include('../../partials/user-header') %>

<main class="pageType-addAlbum">
  <form method="post" action="/account/add-album" id="add-album">
    <h2>Create a New Album</h2>
    <button id="open-tag" class="button primary icon tag open-modal"></button>
    <div class="input-container">
      <label for="album-title">Title</label>
      <input type="text" name="title" id="album-title" required/>
    </div>
    <div class="input-container">
      <label for="album-description">Description</label>
      <textarea
        name="description"
        id="album-description"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>
    <div id="user-posts">
      <% data.postData.forEach(post => { %> <%-
      include('../../partials/post-option-card', { post: post }) %> <% }) %>
    </div>
    <div id="tag-family" class="modal hidden">
      <div class="modal-inner">
        <h2>Tag Your Family</h2>
        <button class="button primary icon cross"></button>
        <!-- <input
          class="input"
          type="search"
          name="search_family"
          id="search_family"
          placeholder="Family member"
        /> -->
        <div id="memberList"></div>
        </select>
      </div>
    </div>
    <input class="button primary" type="submit" value="Share" />
  </form>
</main>
<script type="text/javascript">
  const data = <%- JSON.stringify(data) %>;
</script>
<%- include('../../partials/user-mobile-nav') %>
