<%- include('./partials/user-header') %>

<div class="memory-section">
	<p class="memory-create">Create New Memory</p>
	

	<div onclick="window.location.href = '\create-memory-tag.html';" class="tag-circle">
	<img id="tag" src="assets\icons\tag.svg">
	</div>

	<div class="memory-upload">

		<img id="upload" src="assets\icons\upload.svg">

		<p class="upload-font1">Upload Media</p>
		<p class="upload-font2">Pictures, Videos or Documents</p>

	</div>

	<div class="desc">
			<p class="desc-text">Post Description (Optional)</p>
	</div>

	<p class="add-album">Add to Album (Optional)</p>

	<div class="album-addition">
		<img id="plus" src="assets\icons\plus.svg">
		<p class="album-tag"></p>
	</div>

	



	<div class="button">
	<a href="#" class="button-text">Share</a>
	</div>

</div>

    </section>
    <%- include('./partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>