<%- include('../../partials/user-header') %>

<!-- <h1>Feed</h1>

<p>Welcome <%= user.name %></p> -->


<div class="create-new-post">
    <!-- profile img -->
        <div class="imgname">

            <div class="story">
                <img src="https://picsum.photos/45/45?random=1" alt="">
                <svg viewbox="0 0 100 100">
                    <circle cx="50" cy="50" r="40"/>
                </svg>
            </div>

            <!-- username -->            
            <div>
                <h2 style="margin: 0; font-weight: 400;">Paul Monroe</h2>
                <span style="font-size: 12px; font-weight: 400;"> Cousin </span>
            </div>

        </div>

        <!-- buttons -->
        <div class="buttons">
            <button class="button primary icon accessibility"></button>
            <button class="button primary icon upload"></button>
        </div>
    </div>

</div>

<div class="post-container">

    <div class="afiye-posts"> 
        <!-- header for user's name and timestamp -->
        <div class="user-info">

            <!-- profile img -->
            <div class="imgname">

            <div class="story">
                <img src="https://picsum.photos/45/45?random=1" alt="">
                <svg viewbox="0 0 100 100">
                    <circle cx="50" cy="50" r="40"/>
                </svg>
            </div>

            <!-- username -->            
            <div>
                <h2>Paul Monroe</h2>
                <span> Cousin </span>
            </div>

            </div>

            <!-- timestamp -->
            <div class="timestamp" style="float: right;">
                <img style="padding-bottom: 10px;" src="../assets/icons/more-01.svg" alt="more">                
                <span> 3m</span>
            </div>

    </div>



        <!-- Actual post -->
        <a href="/account/post">
            <div class="img">
                <img style="border-radius: 5px;" src="https://picsum.photos/400/250?random=1"/>
            </div>
        </a>
    </div>

    <div class="afiye-posts"> 
        <!-- header for user's name and timestamp -->
        <div class="user-info">

            <!-- profile img -->
            <div class="imgname">

            <div class="story">
                <img src="https://picsum.photos/45/45?random=1" alt="">
                <svg viewbox="0 0 100 100">
                    <circle cx="50" cy="50" r="40"/>
                </svg>
            </div>

            <!-- username -->            
            <div>
                <h2>Paul Monroe</h2>
                <span> Cousin </span>
            </div>

            </div>

            <!-- timestamp -->
            <div class="timestamp" style="float: right;">
                <img style="padding-bottom: 10px;" src="../assets/icons/more-01.svg" alt="more">
                <span> 3m</span>
            </div>

    </div>



        <!-- Actual post -->
        <div class="img">
            <img style="border-radius: 5px;"
            src="https://picsum.photos/400/250?random=1"
            />
        </div>
    </div>

    <div class="afiye-posts"> 
        <!-- header for user's name and timestamp -->
        <div class="user-info">

            <!-- profile img -->
            <div class="imgname">

            <div class="story">
                <img src="https://picsum.photos/45/45?random=1" alt="">
                <svg viewbox="0 0 100 100">
                    <circle cx="50" cy="50" r="40"/>
                </svg>
            </div>

            <!-- username -->            
            <div>
                <h2>Paul Monroe</h2>
                <span> Cousin </span>
            </div>

            </div>

            <!-- timestamp -->
            <div class="timestamp" style="float: right;">
                <img style="padding-bottom: 10px;" src="../assets/icons/more-01.svg" alt="more">
                <span> 3m</span>
            </div>

    </div>



        <!-- Actual post -->
        <div class="img">
            <img style="border-radius: 5px;"
            src="https://picsum.photos/400/250?random=1"
            />
        </div>
    </div>


</div>

<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>
<!-- 
<div class="bottom-nav">
        <p class="feed-nav">Feed</p>
        <p class="tree-nav">Tree</p>
        <p class="profile-nav">Profile</p>
        <p class="settings-nav">Settings</p>
</div> -->
<!-- <p>Welcome <%= user.name %></p> -->

<%- include('../../partials/user-mobile-nav') %>
