<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Afiye - Sorry to See You Go</title>
  </head>
  <body>
    <h1>Sorry to See You Go</h1>
    <p>
      Thank you <%- message.name %>, for trying out afiye. We're sorry that it
      wasn't what you were looking for.
    </p>
    <p>
      If you ever want back into your tree, one of your family members will be
      able to invite you and you can pick up where you left off.
    </p>
  </body>
</html>
