<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Afiye password reset</title>
  </head>
  <body>
    <h1>Reset your password for Afiye</h1>
    <p>
      A request has been submitted to reset the password for your Afiye account.
    </p>
    <p>
      Please follow the link below to complete the reset process and set a new
      password for your account.
    </p>
    <a href="<%- verifyLink %> ">Reset your password</a>
    <p>
      If the link does not work, copy and paste the following url into your
      browser's address bar:<br />
      <%- verifyLink %>
    </p>
  </body>
</html>
