<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test Email</title>
		<style>
			h1 {
				color: red;
			}
			p {
				color: blue;
			}
		</style>
	</head>

	<body>
		<h1 style="color: #ff0000">Email now with style</h1>
		<p style="color: #0000ff">What do you think <%= name %>?</p>
	</body>
</html>
