/* (phone screens, 376px and down) */
@media only screen and (max-width: 376px) {
  .memory-section {
    width: 600px;
    height: 145px;
    margin-top: 4em;
    margin-left: 0em;
  }
}

/* (tablet screens, 377px and up) */
@media only screen and (min-width: 377px) {
  .memory-create {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;

    margin-left: 0px;
  }

  #tag {
    margin-left: -2px;
    margin-top: 4px;
    height: 20px;
    width: 20px;
  }

  .memory-section {
    width: 600px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  .album {
    width: 343px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-top: 24px;
    margin-left: 0px;
  }

  .tag-circle {
    width: 28px;
    height: 28px;
    background-color: #922aff;
    border-radius: 50%;
    text-align: center;
    left: 325px;
    margin-top: -3em;
    position: absolute;
  }

  .desc {
    width: 343px;
    height: 126px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-top: 60px;
  }

  #edit {
    position: absolute;
    margin-top: -45px;
    margin-left: 305px;
  }

  // .memory-create {
  //   font-weight: bold;
  //   font-size: 24px;
  //   margin-top: 4em;
  // }

  .memory-upload {
    width: 343px;
    height: 132px;
    background-color: #eff0f6;
    border-radius: 10px;
    margin-top: 50px;
  }

  #upload {
    display: block;
    position: absolute;
    margin-left: 140.5px;
    margin-top: 20px;
    width: 62px;
    height: 62px;
  }
}

@media only screen and (min-width: 767px) {
  .album {
    width: 600px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .tag-circle {
    width: 28px;
    height: 28px;
    background-color: #922aff;
    border-radius: 50%;
    text-align: center;
    left: 650px;
    margin-top: -3em;
    position: absolute;
  }

  .desc {
    width: 600px;
    height: 126px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-top: 60px;
  }

  #edit {
    position: absolute;
    margin-top: -45px;
    margin-left: 565px;
  }

  .memory-upload {
    width: 600px;
    height: 132px;
    background-color: #eff0f6;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #upload {
    display: block;
    position: absolute;
    margin-left: 270px;
    margin-top: 20px;
    width: 62px;
    height: 62px;
  }
}

@media only screen and (min-width: 768px) {
  #edit {
    position: absolute;
    margin-top: -45px;
    margin-left: 655px;
  }

  .tag-circle {
    width: 28px;
    height: 28px;
    background-color: #922aff;
    border-radius: 50%;
    text-align: center;
    margin-left: 0px;
    margin-top: -3em;
    position: relative;
  }
}

/* DESKTOP
  IS
  HERE
   */

/* desktop screens (laptops/desktops, 769px and up) */
@media only screen and (min-width: 769px) {
  .album {
    width: 693px;
    height: 65px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-top: 24px;
    margin-left: 0px;
  }

  .memory-section {
    width: 691px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  .desc {
    width: 691px;
    height: 145px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .memory-create {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
  }
}

/* IMPORTANT, PLEASE READ
THE STYLING BELOW IS FOR THIS PAGE SPECIFICLY
DO NOT DELETE EXCEPT TO BE MOVED INTO THE .ejs or .scss FILES
*/

.albums-section {
  width: 343px;
  height: 248px;
  margin-top: 0em;
  margin-left: -0.75em;
}

.album-thumbs {
  width: 343px;
  height: 146px;
}

.view-all {
  margin-left: 17em;
  margin-top: -2em;
}

#tag {
  margin-left: -2px;
  margin-top: 4px;
  height: 20px;
  width: 20px;
}

.upload-font1 {
  font-size: 10px;
  color: #000000;
  text-align: center;
  position: relative;
  top: 9em;
}

.upload-font2 {
  font-size: 10px;
  color: #828282;
  text-align: center;
  position: relative;
  top: 8em;
}

.desc-title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;

  color: #a0a3bd;
  margin-top: -20px;
  margin-left: 5px;
}

.desc-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: -2px;
  margin-left: 15px;
  color: #000000;
}

.album-title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;

  color: #a0a3bd;
  margin-top: -20px;
  margin-left: 5px;
}

.album-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: -2px;
  margin-left: 15px;
  color: #000000;
}

.add-album {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
  
}

.album-addition {
  width: 146px;
  height: 146px;
  background-color: #eff0f7;
  border-radius: 10px;
}

#plus {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  margin: auto;
  top: 48px;
}

#add-album{
  display: inline-block;
  margin-top: 0.75em;
  color: #922aff !important;
  border: 1px solid #00000029;
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
  background: white;
  height: 820px;
  box-shadow: 0px 0px 8px 10px #8888882b;
}