.memory-section {
  width: 343px;
  height: 145px;
  margin-top: 4em;
  margin-left: 0.5em;
}

.memory-create {
  font-weight: bold;
  font-size: 24px;
  margin-top: 4em;
}

.memory-upload {
  width: 343px;
  height: 132px;
  background-color: #eff0f6;
  border-radius: 10px;
}

.albums-section {
  width: 343px;
  height: 248px;
  margin-top: 0em;
  margin-left: -0.75em;
}

.album-thumbs {
  width: 343px;
  height: 146px;
}

.view-all {
  margin-left: 17em;
  margin-top: -2em;
}

.tag-circle {
  width: 28px;
  height: 28px;
  background-color: #922aff;
  border-radius: 50%;
  text-align: center;
  left: 20.5em;
  margin-top: -3em;
  position: fixed;
}

#tag {
  margin-left: -2px;
  margin-top: 4px;
  height: 20px;
  width: 20px;
}

#upload {
  display: block;
  position: fixed;
  margin-left: 140.5px;
  margin-top: 20px;
  width: 62px;
  height: 62px;
}

.upload-font1 {
  font-size: 10px;
  color: #000000;
  text-align: center;
  position: relative;
  top: 9em;
}

.upload-font2 {
  font-size: 10px;
  color: #828282;
  text-align: center;
  position: relative;
  top: 8em;
}

.desc {
  width: 343px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin-top: 24px;
}

.desc-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 5px;
  margin-left: 15px;
  color: #a0a3bd;
}

.add-album {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
}

.album-addition {
  width: 146px;
  height: 146px;
  background-color: #eff0f7;
  border-radius: 10px;
}

#plus {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  margin: auto;
  top: 48px;
}

// .album-tag {
// }

.button {
  background-color: #922aff;
  border-radius: 10px;
  width: 221px;
  height: 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.button-text {
  color: white;
  text-align: center;
  text-decoration: none;

  position: relative;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
}

.gray-out {
  z-index: 8000;

  background-color: #6e7191;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.popup {
  z-index: 9000;
  background-color: #ffffff;
  position: absolute;
  width: 328px;
  height: 480px;
  left: 24px;
  top: 94px;

  border-radius: 10px;
}

.popup-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;

  margin-left: 28px;
}

.popup-subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #6e7191;
  margin-top: -16px;
}

#exit {
  z-index: 9000;

  height: 20px;
  width: 20px;
  margin-top: 5.5px;
  margin-left: 5.5px;
}

.exit-circle {
  z-index: 9000;

  background-color: #922aff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: absolute;

  margin-top: -5.5em;
  margin-left: 17.75em;
}

.popup-button {
  z-index: 9000;

  background-color: #922aff;
  border-radius: 10px;
  width: 221px;
  height: 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 315px;
}
