/* (tablet screens, 377px and up) */
@media only screen and (min-width: 377px) {
  .profile-section {
    width: 343px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 767px) {
  .profile-create {
    font-weight: bold;
    font-size: 24px;
    top: 1.5em;
    text-align: center;
    position: relative;
  }

  .profile-section {
    width: 437px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }
}

.new-avatar {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;

  background-color: #a0a3bd;
}

.profile-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;

  margin-bottom: -6px;
  color: #a0a3bd;
}

.profile-name-info {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.75px;
  text-align: center;

  color: #000000;
}

.profile-create {
  font-weight: bold;
  font-size: 24px;
  top: 1.5em;
  text-align: center;
  position: relative;
}

.albums-section {
  width: 343px;
  height: 248px;
  margin-top: 0em;
  margin-left: -0.75em;
}

.album-thumbs {
  width: 343px;
  height: 146px;
}

.view-all {
  margin-left: 17em;
  margin-top: -2em;
}

.location {
  width: 343px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.location-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 12px;
  margin-left: 15px;
  color: #a0a3bd;
}

.birthdate {
  width: 343px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin-top: 54px;
  margin-right: auto;
  margin-left: auto;
}

.birthdate-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  margin-top: 12px;
  margin-left: 15px;
  color: #a0a3bd;
}

.add-album {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
}

.album-addition {
  width: 146px;
  height: 146px;
  background-color: #eff0f7;
  border-radius: 10px;
}

#plus {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  margin: auto;
  top: 48px;
}

.button {
  background-color: #922aff;
  border-radius: 10px;
  width: 221px;
  height: 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button-text {
  color: white;
  text-align: center;
  text-decoration: none;

  position: relative;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
}
