/* (mobile screens, 376px and up) */
@media only screen and (min-width: 376px) {
  .profiles-section {
    width: 343px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  /*
		AVATAR LINE
		 */
  .avatars-sections {
    width: 343px;
    height: auto;
  }

  .avatars {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-left: 0em;
    margin-top: 3em;

    background-color: #a0a3bd;
  }

  .family-title {
    margin-left: 6em;
    margin-top: -3.25em;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  .family-relation {
    margin-left: 8.75em;
    margin-top: -1.5em;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: left;
  }

  .icon-background {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #550ea1;
    text-align: center;
    margin-left: 19em;
    margin-top: -3em;
    visibility: visible;
  }

  .icon-edit {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    visibility: visible;
  }

  /*
		AVATAR LINE
		 */

  .profiles-confirm {
    font-weight: bold;
    font-size: 24px;
    top: 1.5em;
    text-align: left;
    position: relative;
  }

  .profiles-subtext {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    top: 15px;
    position: relative;
  }
}

/* tablet screens (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .profiles-section {
    width: 612px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  .avatars-sections {
    width: 612px;
    height: auto;
  }

  .avatars {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-left: 0em;
    margin-top: 3em;

    background-color: #a0a3bd;
  }

  .family-title {
    margin-left: 5em;
    margin-top: -3.25em;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
  }

  .family-relation {
    margin-left: 6.75em;
    margin-top: -0.75em;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: left;
  }

  .icon-background {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #550ea1;
    text-align: center;
    margin-left: 35em;
    margin-top: -4em;
  }

  .icon-edit {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
  }

  .profiles-confirm {
    font-weight: bold;
    font-size: 24px;
    top: 1.5em;
    text-align: left;
    position: relative;
  }

  .profiles-subtext {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    top: 15px;
    position: relative;
  }
}

/* desktop screens (desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  .profiles-section {
    width: 1326px;
    height: 145px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  .avatars-sections {
    width: 1326px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .avatars {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-left: 0em;
    margin-top: 3em;

    background-color: #a0a3bd;
  }

  .family-title {
    margin-left: 5em;
    margin-top: -3.25em;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
  }

  .family-relation {
    margin-left: 6.75em;
    margin-top: -0.75em;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: left;
  }

  .icon-background {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #550ea1;
    text-align: center;
    margin-left: 25em;
    margin-top: -4em;

    visibility: visible;
  }

  .icon-edit {
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    visibility: visible;
  }

  .profiles-confirm {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;

    top: 1em;
    text-align: center;
    position: relative;
  }

  .profiles-subtext {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;

    top: 15px;
    position: relative;
  }
}
