.profile-form {
  text-align: center;
  position: relative;
  max-width: 900px;
  margin: 0 auto;

  a.button.back {
    position: absolute;
    left: 0;
    top: 2rem;

    @include tablet {
      top: 1.25rem;
    }
  }
}

.container {
  padding-top: 1.75em;

  &.join-tree {
    position: relative;

    a.button.back {
      position: absolute;
      left: 0;
    }
  }
}

#profile-setup {
  #full-name {
    padding: 0 1.5em 0.5em;
    border-bottom: 2px solid $body;
    display: inline-block;

    + p {
      margin-top: 0;
      margin-bottom: 2em;
    }
  }

  // .input-container {
  //   margin: 0 auto 2rem;
  // }

  #profile-color-select {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 22.625em;
    margin: 1em auto;

    legend {
      margin: 0 auto;
    }

    .check-container {
      position: relative;

      input[type="radio"] {
        position: absolute;
        left: 0;
        opacity: 0;
        width: 100% !important;
        height: 100% !important;

        &:not(:checked) {
          + label {
            width: 3em;

            span {
              visibility: hidden;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 3em;
              height: 3em;
              border-radius: 1.5em;
            }

            &:after {
              content: "";
              position: absolute;
              width: 2.25rem;
              height: 2.25rem;
              top: 0.375rem;
              left: 0.375rem;
              border-radius: 1.125rem;
              background: $input-background;
            }

            &[for="color-pink"] {
              &:after {
                background: $profile-pink;
              }
            }

            &[for="color-magenta"] {
              &:after {
                background: $profile-magenta;
              }
            }

            &[for="color-red"] {
              &:after {
                background: $profile-red;
              }
            }

            &[for="color-orange"] {
              &:after {
                background: $profile-orange;
              }
            }

            &[for="color-yellow"] {
              &:after {
                background: $profile-yellow;
              }
            }

            &[for="color-green"] {
              &:after {
                background: $profile-green;
              }
            }

            &[for="color-teal"] {
              &:after {
                background: $profile-teal;
              }
            }

            &[for="color-light-blue"] {
              &:after {
                background: $profile-light-blue;
              }
            }

            &[for="color-dark-blue"] {
              &:after {
                background: $profile-dark-blue;
              }
            }

            &[for="color-purple"] {
              &:after {
                background: $profile-purple;
              }
            }

            &[for="color-brown"] {
              &:after {
                background: $profile-brown;
              }
            }

            &[for="color-gray"] {
              &:after {
                background: $profile-gray;
              }
            }

            &[for="color-black"] {
              &:after {
                background: $profile-black;
              }
            }
          }
        }

        &:checked {
          @extend :not(:checked);

          + label {
            &[for="color-pink"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-pink;
              }
            }

            &[for="color-magenta"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-magenta;
              }
            }

            &[for="color-red"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-red;
              }
            }

            &[for="color-orange"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-orange;
              }
            }

            &[for="color-yellow"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-yellow;
              }
            }

            &[for="color-green"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-green;
              }
            }

            &[for="color-teal"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-teal;
              }
            }

            &[for="color-light-blue"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-light-blue;
              }
            }

            &[for="color-dark-blue"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-dark-blue;
              }
            }

            &[for="color-purple"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-purple;
              }
            }

            &[for="color-brown"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-brown;
              }
            }

            &[for="color-gray"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-gray;
              }
            }

            &[for="color-black"] {
              &:before {
                box-shadow: inset 0 0 0 3px $profile-black;
              }
            }
          }
        }
      }
    }
  }

  button#open-profile {
    display: block;
    width: 7.75em;
    height: 7.75em;
    padding: 0;
    margin: 0 auto 2rem;
    background: center / 50% no-repeat url("../assets/icons/user.svg");
    background-color: $placeholder;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      // height: 100%;
      border: 0;
      outline: 0;
    }

    &.profileColor-pink {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-pink;
    }

    &.profileColor-magenta {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-magenta;
    }

    &.profileColor-red {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-red;
    }

    &.profileColor-orange {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-orange;
    }

    &.profileColor-yellow {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-yellow;
    }

    &.profileColor-green {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-green;
    }

    &.profileColor-teal {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-teal;
    }

    &.profileColor-light-blue {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-light-blue;
    }

    &.profileColor-dark-blue {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-dark-blue;
    }

    &.profileColor-purple {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-purple;
    }

    &.profileColor-brown {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-brown;
    }

    &.profileColor-gray {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-gray;
    }

    &.profileColor-black {
      box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-black;
    }
  }
}

#data-info {
  .modal-inner {
    max-width: 430px;

    p {
      text-align: left;
    }
  }
}
