#full-name {
	padding: 0 1.5em 0.5em;
	border-bottom: 2px solid $body;
	display: inline-block;

	+ p {
		margin-top: 0;
		margin-bottom: 2em;
	}
}

#profile-color-select {
	border: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 16.625em;
	margin: 1em 0;

	.check-container {
		position: relative;

		input[type="radio"] {
			position: absolute;
			left: 0;
			opacity: 0;

			&:not(:checked) {
				+ label {
					width: 3em;

					span {
						visibility: hidden;
					}

					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 3em;
						height: 3em;
						border-radius: 1.5em;
					}

					&:after {
						content: "";
						position: absolute;
						width: 2.25em;
						height: 2.25em;
						top: 0.375em;
						left: 0.375em;
						border-radius: 1.125em;
						background: $input-background;
					}

					&[for="color-pink"] {
						&:after {
							background: $profile-pink;
						}
					}

					&[for="color-magenta"] {
						&:after {
							background: $profile-magenta;
						}
					}

					&[for="color-red"] {
						&:after {
							background: $profile-red;
						}
					}

					&[for="color-orange"] {
						&:after {
							background: $profile-orange;
						}
					}

					&[for="color-yellow"] {
						&:after {
							background: $profile-yellow;
						}
					}

					&[for="color-green"] {
						&:after {
							background: $profile-green;
						}
					}

					&[for="color-teal"] {
						&:after {
							background: $profile-teal;
						}
					}

					&[for="color-light-blue"] {
						&:after {
							background: $profile-light-blue;
						}
					}

					&[for="color-dark-blue"] {
						&:after {
							background: $profile-dark-blue;
						}
					}

					&[for="color-purple"] {
						&:after {
							background: $profile-purple;
						}
					}

					&[for="color-brown"] {
						&:after {
							background: $profile-brown;
						}
					}

					&[for="color-gray"] {
						&:after {
							background: $profile-gray;
						}
					}

					&[for="color-black"] {
						&:after {
							background: $profile-black;
						}
					}
				}
			}

			&:checked {
				@extend :not(:checked);

				+ label {
					&[for="color-pink"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-pink;
						}
					}

					&[for="color-magenta"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-magenta;
						}
					}

					&[for="color-red"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-red;
						}
					}

					&[for="color-orange"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-orange;
						}
					}

					&[for="color-yellow"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-yellow;
						}
					}

					&[for="color-green"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-green;
						}
					}

					&[for="color-teal"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-teal;
						}
					}

					&[for="color-light-blue"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-light-blue;
						}
					}

					&[for="color-dark-blue"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-dark-blue;
						}
					}

					&[for="color-purple"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-purple;
						}
					}

					&[for="color-brown"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-brown;
						}
					}

					&[for="color-gray"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-gray;
						}
					}

					&[for="color-black"] {
						&:before {
							box-shadow: inset 0 0 0 3px $profile-black;
						}
					}
				}
			}
		}
	}
}
