// Header

#press-kit-container {
  margin: 0;
  padding: 0 0.875rem;

  p {
    font: $mobile-text-small;
  }

  #logo {
    font: $mobile-display-small-bold;
    color: $purple-default;
    text-align: center;
  }

  #menu {
    position: absolute;
    right: 0.875rem;
  }

  // Hero Section

  #presskit-heading {
    position: relative;
    background-image: url("../assets/blob-promo-presskit-hero.svg");
    padding: 3rem 0.875rem 17rem;
    margin: 0 -0.875rem;
    background-position-y: bottom;
    background-size: cover;
    background-position-x: center;

    h1 {
      font: $mobile-display-large-bold;
      color: white;
      margin: 0 auto;
      text-align: center;
    }

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }

    .promo-text {
      text-align: right;
      position: absolute;
      right: 1rem;
      top: 17.5rem;
    }
  }

  // About

  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }
  }

  // Brand Guide

  #brand-guide {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }
    #download-brand-eps,
    #download-brand-pdf {
      margin: 0.5rem auto;
      display: block;
    }
  }

  // Media Gallery

  #media-gallery {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }
    #download-media-zip {
      margin: 0.5rem auto;
      display: block;
    }
  }

  #faux-carousel {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* First the Grid */
  .gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }

  /* The Images */
  .gallery-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }

//   .gallery-img:hover {
//     transform: scale(1.15);
//     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//   }

  // Footer

  footer {
    width: 100%;
    display: absolute;
    bottom: 0;
  }

  #copyright {
    font: $promo-heading-bold-mobile;
    text-align: left;
    background: $gradient-one;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.09);
  }
}
