#team-container {
  padding-bottom: 1.25em;
  // Hero Section

  #team {
    height: 24rem;
    padding-top: 3rem;
    margin: 0 -0.875rem;
    position: relative;
    background-image: url("../assets/blob-promo-team.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;

    h1 {
      font: $mobile-display-large-bold;
      color: white;
      margin: 0 auto;
      text-align: center;
    }

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }

    .promo-text {
      text-align: right;
      position: absolute;
      right: 1rem;
      top: 17.5rem;
    }
  }

  p {
    font: $mobile-text-small;
  }

  #team-description {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }

  #team-description > p {
    font: 1em "Rubik", Arial, sans-serif;
  }

  //Member Container

  #members,
  #special-members {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: 900px;
    margin: 0 auto;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      justify-content: center;
    }

    .profile-card {
      padding: 1.5rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .profile-card-portrait {
        width: 12.5rem;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-purple,
          0 2px 8px 8px $profile-purple;
        z-index: 10;

        & + .profile-card-contents {
          margin-top: -6.25rem;
          padding: 8.5rem 2rem 2rem;
        }
      }

      &#profile-fidel,
      &#profile-mira {
        .profile-card-portrait {
          box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-yellow,
            0 2px 8px 8px $profile-yellow;
        }
      }

      &#profile-arpit {
        .profile-card-portrait {
          box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-orange,
            0 2px 8px 8px $profile-orange;
        }
      }

      &#profile-bri {
        .profile-card-portrait {
          box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-red,
            0 2px 8px 8px $profile-red;
        }
      }

      &#profile-ben {
        .profile-card-portrait {
          box-shadow: 0 0 0 5px #fff, 0 0 0 10px $profile-dark-blue,
            0 2px 8px 8px $profile-dark-blue;
        }
      }

      .profile-card-contents {
        box-shadow: 0px 5px 60px -20px rgba(81, 81, 81, 0.7);
        border-radius: 10px;
        padding: 2rem;
        width: 100%;

        h3 {
          text-align: center;
          font: $mobile-display-small-bold;
          margin-top: 0;
        }

        .role {
          text-align: center;
          font: $mobile-link-x-small;
          height: 34px;
        }

        p:not(.role) {
          height: 54px;
          text-align: center;
        }

        .button {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  #special-thanks {
    margin: 8rem auto 0;
    max-width: 900px;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
      text-align: center;
    }
  }

  footer {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  #copyright {
    font: $promo-heading-bold-mobile;
    color: $main-purple-default;
    text-align: left;
  }
}
