// Promo Shit

#index-container {
	margin: 0;
	overflow-y: hidden;

	// Text

	p {
		font: $mobile-text-small;
	}

	// Header

	// Hero Section
	#hero {
		padding: 1.5rem 0;
		position: relative;

		#hero-blob {
			position: absolute;
			top: -0.000125rem;
			z-index: -10;
			margin: 0 -0.875rem;
		}

		#hero-button {
			display: block;
			margin: -0.5rem auto;
		}

		#placeholder-hero {
			display: block;
			margin: 0 auto;
		}
	}

	// About Section

	#about {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		margin-top: 6rem;

		.promo-heading {
			font: $promo-heading-mobile;
			background: $gradient-two;
			background-clip: text;
			-webkit-background-clip: text;
			color: rgba(0, 0, 0, 0.09);
			text-transform: uppercase;
		}
	}

	// Key Features

	#keyfeatures {
		margin-top: 12.5rem;
		position: relative;
		color: white;

		.promo-heading {
			font: $promo-heading-bold-mobile;
			color: white;
			text-transform: uppercase;
		}

		.feature-container {
			display: flex;
			justify-content: center;
			gap: 2rem;

			&:not(:last-of-type) {
				margin-bottom: 5.25rem;
			}
		}
	}

	.promo-text {
		width: 11.5rem;
	}

	#keyfeatures-blob {
		margin: 0 -0.875rem;
		z-index: -10;
		position: absolute;
		top: -5rem;
	}

	// Case Study

	#case-study-blob {
		margin: 0 -0.875rem;
		z-index: -10;
		position: absolute;
		top: -10rem;
	}

	#case-study-button {
		margin-top: 2rem;
	}

	#case-study {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20rem;
		position: relative;
		text-align: center;

		.promo-heading {
			font: $promo-heading-mobile;
			background: $gradient-two;
			background-clip: text;
			-webkit-background-clip: text;
			color: rgba(0, 0, 0, 0.09);
			text-transform: uppercase;
		}
	}

	//Meet the Team

	#meet-team-button {
		margin-top: 2rem;
	}

	#meet-team {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10rem;
		text-align: center;
		width: 100%;

		.promo-heading {
			font: $promo-heading-mobile;
			background: $gradient-two;
			background-clip: text;
			-webkit-background-clip: text;
			color: rgba(0, 0, 0, 0.09);
			text-transform: uppercase;
		}
	}

	#team-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-content: space-between;
		flex-wrap: wrap;
		width: 90%;
		gap: 1rem;
	}

	// Contract Book

	#contract-book-button {
		margin-top: 2rem;
	}

	#contract-book-blob {
		margin: 0 -0.875rem;
		z-index: -10;
		position: absolute;
		// top: -20rem;
		bottom: 0;
	}

	#contract-book {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 15rem;
		text-align: center;
		width: 100%;
		position: relative;
		color: white;

		.promo-heading {
			font: $promo-heading-bold-mobile;
			text-transform: uppercase;
			color: white;
			margin-top: 3rem;
		}
	}

	// Footer

	footer {
		width: 100%;
		display: absolute;
		bottom: 0;
	}

	#copyright {
		font: $promo-heading-bold-mobile;
		color: white;
		text-align: left;
	}
}

@include tablet {

	#index-container {

			p {
		font: $desktop-text-medium;
	}

		#hero {

			#hero-blob {
					width: 61.25rem;
					top: -20rem;
					left: -6rem;
				}

			#placeholder-hero {
				width: 38rem;
				margin-top: 5rem;
			}
			
			#hero-button {
				margin-top: 1.5rem;
			}
		}

		#about {

			justify-content: center;
			gap: 3rem;
			align-items: center;

			.promo-text {
				width: 18rem;
				
			}

			#about-img {
				width: 17.9375rem;
			}

			.promo-heading {
				font: $desktop-text-small;
				margin-bottom: 1.5rem;
			}		
		}
		
		#keyfeatures {

			margin-top: 12rem;

			.feature-container {
				justify-content: center;
				gap: 3.5rem;
				align-items: center;
				margin-top: 5.625rem;
				
				&:first-child {
					padding-top: 12rem;
				}
			}

			.promo-text {
				width: 16.6875rem;
			}

			#keyfeatures-blob {
				width: 50rem;
				margin: 0 auto;
			}

			.keyfeature-img {
				width: 15.8125rem;
			}

			#promo-heading {
				font: $mobile-link-medium;
			}
		}

		#case-study {

			#case-study-blob {
				margin: 0 -0.875rem;
				top: 0rem;
				width: 50rem;
			}

			#case-study-img {
				width: 37.1875rem;
				padding-top: 25rem;
			}

			.promo-text {
				margin: 2rem auto;
				width: 25.3125rem;

				#case-study-button {
					margin: 4rem auto 0;
				}
			}

			.promo-heading {
				font: $mobile-text-medium;
			}
			
		}

		#meet-team {

			margin-top: 20rem;

			.promo-heading {
				font: $mobile-text-medium;
			}

			.promo-text {
				margin: 2rem auto;
				width: 25.3125rem;
			}

			.member-img {
				width: 8.75rem;
			}

			#team-container {
				width: 80%;
			}

			#meet-team-button {
				margin-top: 4rem;
			}
		}

		#contract-book {

			

			#contract-book-blob {
				width: 48rem;
				top: -20rem;
			}

			#contract-img {
				width: 17.9375rem;
			}

			.promo-text {
				margin: 2rem auto;
				width: 25.3125rem;
			}

			#promo-heading {
				font: $mobile-link-medium;
			}

			#contract-book-button {
				margin: 4rem auto 0; 
			}
		}

		footer {

			overflow-y: hidden;

			#copyright {
				font: $mobile-link-large;
			}	
		}

	}

}
