 // Hero Section 

 #hero {
    position: absolute;
    top: -.000125rem;
    z-index: -10;
    margin: 0 -.875rem;
}

#team {
    h1 {
        font: $mobile-display-large-bold;
        color: white;
        margin: 0 auto;
        text-align: center;
        
        position: relative;
        top: 3rem;
    }

    .promo-heading {
        font: $promo-heading-mobile;
        background: $gradient-two;
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0.09);
        text-transform: uppercase;
    }

    .promo-text {
        text-align: right;
        position: absolute;
        right: 1rem;
        top: 17.5rem;
    }
}

p {
    font: $mobile-text-small;
}


//I cannot get this to center
#team-description {
    // position: absolute;
    top: 27rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

//Member Container

//i cannot get the image to be not stretched
#members, #special-thanks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-top: 8rem;
    width: 100%;
    gap: 2rem;

    .promo-heading {
        font: $promo-heading-mobile;
        background: $gradient-two;
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0.09);
        text-transform: uppercase;
        text-align: center;
    }

    #item-a, #item-b, #item-c, #item-d, #item-e, #item-f, #item-g, #item-h {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;

        .team-portrait {
            display: block;
            max-width: 6.25rem;
            max-height: 6.25rem;
            width: 100%;
            height: auto;
        }
    }
}
