// Promo Shit

#index-container {
  margin: 0;
  overflow-y: hidden;

  // Text

  p {
    font: $mobile-text-small;
  }

  // Header

  // Hero Section
  #hero {
    margin: 0 -0.875rem;
    padding: 1.5rem 0;
    position: relative;
    text-align: center;
    background-image: url("../assets/blob-promo-index-hero.svg");
    background-size: cover;
    background-position-y: bottom;

    #hero-button {
      display: block;
      margin: -0.5rem auto;
    }

    #placeholder-hero {
      display: block;
      margin: 0 auto;
    }

    #hero-img {
      margin: 0 auto 1.25em;
      background-image: url("../assets/imgs/promo-mobile-hero.png");
      height: 18.75em;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;

      @media only screen and (min-width: 600px) {
        height: 25em;
      }
    }
  }

  // About Section

  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }
  }

  // Key Features

  #keyfeatures {
    position: relative;
    color: white;
    background-image: url("../assets/blob-promo-index-kf.svg");
    padding: 6.5rem 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 6rem -0.875rem 0;

    .promo-heading {
      font: $promo-heading-bold-mobile;
      color: white;
      text-transform: uppercase;
    }

    .feature-container {
      display: flex;
      justify-content: center;
      gap: 2rem;

      &:not(:last-of-type) {
        margin-bottom: 5.25rem;
      }

      .keyfeature-img {
        width: 8.3125rem;
      }
    }
  }

  .promo-text {
    width: 11.5rem;
  }

  #keyfeatures-blob {
    margin: 0 -0.875rem;
    z-index: -10;
    position: absolute;
    top: -5rem;
  }

  // Case Study

  #case-study-blob {
    margin: 0 -0.875rem;
    z-index: -10;
    position: absolute;
    top: -10rem;
  }

  #case-study-button {
    margin-top: 2rem;
  }

  #case-study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem -0.875rem 0;
    position: relative;
    text-align: center;
    background-image: url("../assets/blob-promo-index-cs.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 8rem 0;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }
  }

  //Meet the Team

  #meet-team-button {
    margin-top: 2rem;
  }

  #meet-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    text-align: center;
    width: 100%;

    .promo-heading {
      font: $promo-heading-mobile;
      background: $gradient-two;
      background-clip: text;
      -webkit-background-clip: text;
      color: rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
    }
  }

  #team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;
  }

  // Contract Book

  #contract-book-button {
    margin-top: 2rem;
  }

  #contract-book-blob {
    margin: 0 -0.875rem;
    z-index: -10;
    position: absolute;
    // top: -20rem;
    bottom: 0;
  }

  #contract-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    text-align: center;
    position: relative;
    color: white;
    background-image: url("../assets/blob-promo-index-cb.svg");
    background-size: cover;
    margin: 8rem -0.875rem 0;

    .promo-heading {
      font: $promo-heading-bold-mobile;
      text-transform: uppercase;
      color: white;
      margin-top: 3rem;
    }

    .promo-text {
      width: auto;
      margin: 2rem auto;
    }
  }

  // Footer

  footer {
    width: 100%;
    display: absolute;
    bottom: 0;
  }

  #copyright {
    font: $promo-heading-bold-mobile;
    color: $main-purple-default;
    text-align: left;
  }
}

@include tablet {
  #index-container {
    p {
      font: $desktop-text-medium;
    }

    #hero {
      #hero-blob {
        width: 61.25rem;
        top: -20rem;
        left: -6rem;
      }

      #placeholder-hero {
        width: 38rem;
        margin-top: 5rem;
      }

      #hero-button {
        margin-top: 1.5rem;
      }

      #hero-img {
        background-image: url("../assets/imgs/promo-tablet-hero.png");
        height: 32em;
      }
    }

    #about {
      justify-content: center;
      gap: 3rem;
      align-items: center;

      .promo-text {
        width: 18rem;
      }

      #about-img {
        width: 17.9375rem;
      }

      .promo-heading {
        font: $desktop-text-small;
        margin-bottom: 1.5rem;
      }
    }

    #keyfeatures {
      padding: 8.5rem 0;

      .feature-container {
        justify-content: center;
        gap: 3.5rem;
        align-items: center;
      }

      .promo-text {
        width: 16.6875rem;
      }

      #keyfeatures-blob {
        width: 50rem;
        margin: 0 auto;
      }

      .keyfeature-img {
        width: 15.8125rem;
      }

      #promo-heading {
        font: $mobile-link-medium;
      }
    }

    #case-study {
      #case-study-img {
        width: 37.1875rem;
      }

      .promo-text {
        margin: 2rem auto;
        width: 25.3125rem;

        #case-study-button {
          margin: 4rem auto 0;
        }
      }

      .promo-heading {
        font: $mobile-text-medium;
      }
    }

    #meet-team {
      margin-top: 20rem;

      .promo-heading {
        font: $mobile-text-medium;
      }

      .promo-text {
        margin: 2rem auto;
        width: 25.3125rem;
      }

      .member-img {
        width: 8.75rem;
      }

      #team-container {
        width: 80%;
      }

      #meet-team-button {
        margin-top: 4rem;
      }
    }

    #contract-book {
      #contract-book-blob {
        width: 48rem;
        top: -20rem;
      }

      #contract-img {
        width: 17.9375rem;
      }

      .promo-text {
        width: 25.3125rem;
      }

      #promo-heading {
        font: $mobile-link-medium;
      }

      #contract-book-button {
        margin: 4rem auto 0;
      }
    }

    footer {
      overflow-y: hidden;

      #copyright {
        font: $mobile-link-large;
      }
    }
  }
}

@include desktop {
  #index-container {
    #hero {
      #hero-img {
        background-image: url("../assets/imgs/promo-desktop-hero.png");
        height: 24em;

        @media only screen and (min-width: 1300px) {
          height: 32em;
        }
      }
    }
  }
}
