//Colors
//Grayscale
$title-active: #14142b;
$body: #4e4b66;
$label: #6e7191;
$placeholder: #a0a3bd;
$line: #d6d8e7;
$input-background: #eff0f7;
$background: #f7f7fc;
$off-white: #fcfcfc;

//Orange
$orange-light: #ffdab5;
$orange-default: #ffbd7a;
$orange-dark: #ff9933;

//Green
$green-light: #adf9e5;
$green-default: #63cfb3;
$green-dark: #00b284;

//Red
$red-light: #ffdbd7;
$red-default: #ffa399;
$red-dark: #ff5643;

//Blue
$blue-light: #5168f5;
$blue-default: #3249d0;
$blue-dark: #1c2a7d;

//Purple
$purple-light: #b166ff;
$purple-default: #922aff;
$purple-dark: #5700b2;

//Gradient One
$gradient-blue: #3249d0;
$gradient-purple: #922bff;
$gradient-one: linear-gradient(114deg, $gradient-blue, $gradient-purple);

//Gradient Two
$gradient-two: linear-gradient(114deg, #929de0 0%, #00b384 100%);

//Main Purple
$main-purple-light: #9643ef;
$main-purple-default: #550ea1;
$main-purple-dark: #32085e;

//Main Blue
$main-blue-light: #6e7ede;
$main-blue-default: #3249d0;
$main-blue-dark: #182368;

//Profile Colors
$profile-pink: #fe66b8;
$profile-magenta: #f83a74;
$profile-red: #f42525;
$profile-orange: #ff5722;
$profile-yellow: #ffc52f;
$profile-green: #1db954;
$profile-teal: #07a092;
$profile-light-blue: #0ab4ff;
$profile-dark-blue: #4169e1;
$profile-purple: #922aff;
$profile-brown: #ae640d;
$profile-gray: #6e7191;
$profile-black: #1d1b2d;

//Test
$body-color: $purple-default;

//Fonts
$font-family: "Rubik", Arial, sans-serif;

//Desktop
//Display
$desktop-display-large: 64px $font-family;
$desktop-display-medium: 48px $font-family;
$desktop-display-small: 32px $font-family;

$desktop-display-large-bold: 700 64px $font-family;
$desktop-display-medium-bold: 700 48px $font-family;
$desktop-display-small-bold: 700 32px $font-family;

//Text
$desktop-text-large: 24px $font-family;
$desktop-text-medium: 18px $font-family;
$desktop-text-small: 16px $font-family;
$desktop-text-x-small: 10px $font-family;

$desktop-link-large: 500 24px $font-family;
$desktop-link-medium: 500 18px $font-family;
$desktop-link-small: 500 16px $font-family;
$desktop-link-x-small: 500 14px $font-family;

//Mobile
//Display
$mobile-display-large: 48px $font-family;
$mobile-display-medium: 32px $font-family;
$mobile-display-small: 24px $font-family;

$mobile-display-large-bold: 700 48px $font-family;
$mobile-display-medium-bold: 700 32px $font-family;
$mobile-display-small-bold: 700 24px $font-family;
$mobile-display-x-small-bold: 700 18px $font-family;

//Text
$mobile-text-large: 20px $font-family;
$mobile-text-medium: 16px $font-family;
$mobile-text-small: 14px $font-family;
$mobile-text-x-small: 13px $font-family;

$mobile-link-large: 500 20px $font-family;
$mobile-link-medium: 500 16px $font-family;
$mobile-link-small: 500 14px $font-family;
$mobile-link-x-small: 500 13px $font-family;
