<% if (auth === true) { %>
  <%- include('../partials/user-header') %>
<% } else { %>
  <%- include('../partials/front-header') %>
<% } %> 

<div id="caseStudy-container">
<h1 id="caseStudy-header">Case Study <br> Coming Soon</h1>

<img id="comingsoon-img" src="assets/imgs/comingSoon_3x.png" alt="Coming soon illustration. Scientists gathered around a tree in a pot. " srcset="assets/imgs/comingSoon_1x.png, assets/imgs/comingSoon_2x.png 2x, assets/imgs/comingSoon_3x.png 3x">

</div>