<%- include('../partials/front-header') %>

<main style="height: 100%">
  <img class="login-bubble1" src="assets/blob-promo-index-hero.svg" />
  <img class="login-bubble2" src="assets/blob-promo-index-hero.svg" />
  <!-- <h1>Login to your Account</h1> -->

  <%- include ('./partials/messages') %>
  <div class="login-mobile" style="text-align: center">
    <img
      src="../assets/imgs/email.png"
      style="
        text-align: center;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
      "
    />
    <h1 style="font-size: 1.5rem">Email has been sent</h1>
    <p style="line-height: 25px">
      Please check your inbox and click <br />the received link to recover your
      email.
    </p>

    <button type="submit" class="button primary new">Sign in</button>
  </div>
</main>
