<%- include('../partials/front-header') %>

<main id="index-container">
	<div id="hero">
			<object id="hero-blob" data="assets/blob-promo-index-hero.svg" type="image/svg+xml"></object>

			<img src="assets/imgs/promo-desktop-hero.png" alt="afiye page previews" srcset="assets/imgs/promo-mobile-hero.png, assets/imgs/promo-tablet-hero.png 2x, assets/imgs/promo-desktop-hero.png 3x">

			<a href="/register" id="hero-button" class="button primary">Sign Up</a>
	</div>

	<div id="about">
		<img id="about-img" src="https://via.placeholder.com/133.png" alt="team img">
		<div class="promo-text">
			<h2 class="promo-heading">About Us</h2>
			<p>afiye is a networking app developed by 5 seniors at Drexel University</p>
		</div>

	</div>
	
	<div id="keyfeatures">

		<div class="feature-container">
			<div class="promo-text">
				<h2 class="promo-heading">Strengthen</h2>
				<p>Strengthen your social connections with your family</p>
			</div>

			<img class="keyfeature-img" src="https://via.placeholder.com/133.png" alt="keyfeatures">
		</div>
	
		<div class="feature-container">
			<object data="assets/afiye-keyFeat2.svg" type="image/svg+xml" class="keyfeature-img"></object>
			<div class="promo-text">
				<h2 class="promo-heading">Store</h2>
				<p>House your family’s photos, videos & events</p>
			</div>
		</div>
	
		<div class="feature-container">
			<div class="promo-text">
				<h2 class="promo-heading">Share</h2>
				<p>Ensure your invited family can view your memories</p>
			</div>
			<object data="assets/afiye-keyFeat3.svg" type="image/svg+xml" class="keyfeature-img"></object>
		</div>
	
		<object id='keyfeatures-blob' data="assets/blob-promo-index-kf.svg" type="image/svg+xml"></object>
	</div>
	
	<div id="case-study">
		<object id="case-study-blob" data="assets/blob-promo-index-cs.svg" type="image/svg+xml"></object>

		<!-- <img id="case-study-img" src="https://via.placeholder.com/286.png" alt="case study img"> -->
		<object data="assets/afiye-caseStudy.svg" type="image/svg+xml" id="case-study-img"></object>
		<div class="promo-text">
			<h2 class="promo-heading">Case Study</h2>
			<p>Check out our story and process here in the case study</p>

			<a href="/case-study" id="case-study-button" class="button primary">Go To Case Study</a>
		</div>
	</div>

	<div id="meet-team">
		<div class="promo-text">
			<h2 class="promo-heading">Meet the Team</h2>
			<p>Learn more about the team that developed this product</p>
		</div>

		<div id="team-container">
			<img class="member-img" src="https://via.placeholder.com/80.png" alt="team member">
			<img class="member-img" src="https://via.placeholder.com/80.png" alt="team member">
			<img class="member-img" src="https://via.placeholder.com/80.png" alt="team member">
			<img class="member-img" src="https://via.placeholder.com/80.png" alt="team member">
			<img class="member-img" src="https://via.placeholder.com/80.png" alt="team member">
		</div>

		<a href="/team" id="meet-team-button" class="button primary">Meet the Team</a>
	</div>

	<div id="contract-book">
		<object id="contract-book-blob" data="assets/blob-promo-index-cb.svg" type="image/svg+xml"></object>

		<img id="contract-img" src="https://via.placeholder.com/203.png" alt="contract book img">
		<div class="promo-text">
			<h2 class="promo-heading">Contract Book</h2>
			<p>Take a look at our project documentation!</p>

			<a href="https://idm-sp-2021.github.io/contract-book/#/" target="_blank" id="contract-book-button" class="button primary">See More</a>
		</div>
	</div>

	<footer>
			<p id="copyright"> &copy;afiye</p>
	</footer>
</main>