<%- include('../partials/front-header') %>

<main id="index-container">
  <div id="hero">
    <object
      id="hero-blob"
      data="assets/blob-promo-index-hero.svg"
      type="image/svg+xml"
    ></object>

    <object
      id="placeholder-hero"
      data="assets/placeholder-hero.svg"
      type="image/svg+xml"
    ></object>

    <a href="/register" id="hero-button" class="button primary">Sign Up</a>
  </div>

  <div id="about">
    <img src="https://via.placeholder.com/133.png" alt="team img" />
    <div class="promo-text">
      <h2 class="promo-heading">About Us</h2>
      <p>
        A team of 5 college seniors at Drexel University studying Interactive
        Digital Media
      </p>
    </div>
  </div>

  <div id="keyfeatures">
    <div class="feature-container">
      <div class="promo-text">
        <h2 class="promo-heading">Connect Families</h2>
        <p>Create a network for your family</p>
      </div>

      <img src="https://via.placeholder.com/133.png" alt="keyfeatures" />
    </div>

    <div class="feature-container">
      <img src="https://via.placeholder.com/133.png" alt="keyfeatures" />
      <div class="promo-text">
        <h2 class="promo-heading">Collect Memories</h2>
        <p>I need something to put here</p>
      </div>
    </div>

    <div class="feature-container">
      <div class="promo-text">
        <h2 class="promo-heading">Share Memories</h2>
        <p>I need something to put here</p>
      </div>
      <img src="https://via.placeholder.com/133.png" alt="keyfeatures" />
    </div>

    <object
      id="keyfeatures-blob"
      data="assets/blob-promo-index-kf.svg"
      type="image/svg+xml"
    ></object>
  </div>

  <div id="case-study">
    <object
      id="case-study-blob"
      data="assets/blob-promo-index-cs.svg"
      type="image/svg+xml"
    ></object>

    <img src="https://via.placeholder.com/286.png" alt="case study img" />
    <div class="promo-text">
      <h2 class="promo-heading">Case Study</h2>
      <p>I need something to put here</p>

      <a href="/case-study" id="case-study-button" class="button primary"
        >Go To Case Study</a
      >
    </div>

    <div id="meet-team">
      <div class="promo-text">
        <h2 class="promo-heading">Meet the Team</h2>
        <p>I need something to put here</p>
      </div>

      <div id="team-container">
        <img src="https://via.placeholder.com/80.png" alt="team member" />
        <img src="https://via.placeholder.com/80.png" alt="team member" />
        <img src="https://via.placeholder.com/80.png" alt="team member" />
        <img src="https://via.placeholder.com/80.png" alt="team member" />
        <img src="https://via.placeholder.com/80.png" alt="team member" />
      </div>

      <a href="/team" id="meet-team-button" class="button primary"
        >Meet the Team</a
      >
    </div>

    <div id="contract-book">
      <object
        id="contract-book-blob"
        data="assets/blob-promo-index-cb.svg"
        type="image/svg+xml"
      ></object>

      <img src="https://via.placeholder.com/203.png" alt="contract book img" />
      <div class="promo-text">
        <h2 class="promo-heading">Contract Book</h2>
        <p>I need something to put here</p>

        <a
          href="https://idm-sp-2021.github.io/contract-book/#/"
          target="_blank"
          id="contract-book-button"
          class="button primary"
          >See More</a
        >
      </div>
    </div>

    <footer>
      <p id="copyright">&copy;afiye</p>
    </footer>
  </div>
</main>
