<%- include('../partials/front-header') %>

<!-- <main style="    width: 360px; margin: 4rem auto; padding-top: 4rem; text-align: center; border-radius: 15px; background-color: white;"> -->

<div id="desktop-register">
  <div class="left">
    <img src="../../assets/imgs/afiye-desktopIntro.svg" style="z-index: -5" />
  </div>

  <div class="right" style="margin: 0 auto; text-align: center">
    <!-- <img class="login-bubble1" src="assets/blob-promo-index-hero.svg">
      <img class="login-bubble2" src="assets/blob-promo-index-hero.svg"> -->

    <div class="login-logo-section">
      <img
        class="login-logo"
        src="assets\imgs\afiye-icon.png"
        style="width: 80px"
      />
    </div>

    <h1 style="margin-bottom: 0" class="center-header">Afiye</h1>
    <p style="margin-bottom: 3rem">Your whole family in one place</p>

    <%- include ('../partials/messages') %>

    <form action="/login" method="post">
      <div class="input-container">
        <!-- <label for="email">Email</label> -->
        <input
          class="input mobile"
          type="email"
          name="email"
          placeholder="Enter Email"
        />
      </div>
      <div class="input-container">
        <!-- <label for="passord">Password</label> -->
        <input
          class="input mobile"
          type="password"
          name="password"
          placeholder="Enter Password"
          style="margin-bottom: 3rem"
        />
      </div>
      <button type="submit" class="button primary">Login</button>
    </form>
    <p class="center-header">
      <a href="/password-reset">Forgot password?</a> | <a href="/register">Sign Up for Afiye</a>
    </p>
  </div>
</div>

<div
  class="mobile-register"
  style="padding-top: 5rem; margin: 0 auto; width: 300px; text-align: center"
>
  <img class="login-bubble1" src="assets/blob-promo-index-hero.svg" />
  <img class="login-bubble2" src="assets/blob-promo-index-hero.svg" />

  <div class="login-logo-section">
    <img
      class="login-logo"
      src="assets\imgs\afiye-icon.png"
      style="width: 80px"
    />
  </div>

  <h1 style="margin-bottom: 0" class="center-header">Afiye</h1>
  <p style="margin-bottom: 3rem">Your whole family in one place</p>

  <%- include ('../partials/messages') %>

  <form action="/login" method="post">
    <div class="input-container">
      <label for="email">Email</label>
      <input class="input mobile" type="email" name="email" />
    </div>
    <div class="input-container">
      <label for="passord">Password</label>
      <input
        class="input mobile"
        type="password"
        name="password"
        placeholder="Enter Password"
        style="margin-bottom: 3rem"
      />
    </div>
    <button type="submit" class="button primary">Login</button>
  </form>
  <p class="center-header">
    <a href="/password-reset">Forgot password?</a> | <a href="/register">Sign Up for Afiye</a>
  </p>
</div>
<!-- </main> -->
