<%- include('../partials/front-header') %>

<main>
  <h1 class="center-header">Reset your Password</h1>

  <%- include ('../partials/messages') %>

  <form action="/password-reset" method="post">
    <div class="input-container">
      <label for="email">Email</label>
      <input
        class="input"
        type="email"
        name="email"
        placeholder="Enter Email"
      />
    </div>
    <input type="submit" class="button primary" value="Reset"></input>
  </form>
</main>
