<%- include('../partials/front-header') %>

<main id="press-kit-container">
  <div id="presskit-heading">
    <object
      id="hero"
      data="assets/blob-promo-presskit-hero.svg"
      type="image/svg+xml"
    ></object>

    <h1>Press Kit</h1>

    <div class="promo-text">
      <h2 class="promo-heading">Need Something?</h2>
      <p>
        Contact us at <br />
        <a href="mailto:admin@afiye.io">admin@afiye.io</a>
      </p>
    </div>
  </div>

  <div id="about">
    <img src="https://via.placeholder.com/133.png" alt="team img" />
    <div class="promo-text">
      <h2 class="promo-heading">About Us</h2>
      <p>I need something to put here</p>
    </div>
  </div>

  <div id="brand-guide">
    <h2 class="promo-heading">Brand Guide & Visual Identity</h2>
    <img
      src="../assets/imgs/brandGuideMobile.png"
      alt="Afiye brand guidelines"
    />
    <a
      href="/downloads/brandGuide-eps"
      id="download-brand-eps"
      class="button primary"
      >Download .eps</a
    >
    <a
      href="/downloads/brandGuide-pdf"
      id="download-brand-pdf"
      class="button primary"
      >Download .pdf</a
    >
  </div>

  <div id="media-gallery">
    <h2 class="promo-heading">Media Gallery</h2>
    <div id="faux-carousel">
      <button class="button icon"></button>
      <img src="https://via.placeholder.com/245x480.png" alt="team img" />
      <button class="button icon"></button>
    </div>

    <button id="download-media-zip" class="button primary">
      Download .zip
    </button>
  </div>

  <footer>
    <p id="copyright">&copy;afiye</p>
  </footer>
</main>
