<% if (auth === true) { %>
  <%- include('../partials/user-header') %>
<% } else { %>
  <%- include('../partials/front-header') %>
<% } %>

<main id="press-kit-container">
  <div id="presskit-heading">
    <!-- <object
      id="hero"
      data="assets/blob-promo-presskit-hero.svg"
      type="image/svg+xml"
    ></object> -->

    <h1>Press Kit</h1>

    <div class="promo-text">
      <h2 class="promo-heading">Need Something?</h2>
      <p>
        Contact us at <br />
        <a href="mailto:admin@afiye.io">admin@afiye.io</a>
      </p>
    </div>
  </div>

  <div id="about">
    <div class="promo-text">
      <h2 class="promo-heading">About Us</h2>
      <p>
        afiye is a networking app developed by 5 seniors at Drexel University
      </p>
    </div>
  </div>

  <div id="brand-guide">
    <h2 class="promo-heading">Brand Guide & Visual Identity</h2>
    <img
      src="../assets/imgs/brandGuideMobile.png"
      alt="Afiye brand guidelines"
    />
    <a
      href="/downloads/afiye-brandGuide.eps"
      id="download-brand-eps"
      class="button primary"
      >Download .eps</a
    >
    <a
      href="/downloads/afiye-brandGuide.pdf"
      id="download-brand-pdf"
      class="button primary"
      >Download .pdf</a
    >
  </div>

  <div id="media-gallery">
    <h2 class="promo-heading">Media Gallery</h2>

    <!-- start of gallery grid -->
    <div class="gallery-grid">
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-desktop-group01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-desktop-screengrab01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-desktop-screengrab02.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-desktop-screengrab04.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-group01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-mockup01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-mockup02.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-mockup03.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-mockup04.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-screengrab01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-screengrab02.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-screengrab03.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-mobile-screengrab04.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-tablet-group01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-tablet-mockup01.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-tablet-mockup02.png"
          alt=""
        />
      </figure>
      <figure class="gallery-frame">
        <img
          class="gallery-img"
          src="../assets/imgs/media-gallery/afiye-tablet-screengrab01.png"
          alt=""
        />
      </figure>
    </div>
    <!-- end of gallery grid -->

    <a
      href="/downloads/afiye-media.zip"
      id="download-media-zip"
      class="button primary"
      >Download .zip</a
    >
  </div>

  <footer>
    <p id="copyright">&copy;afiye</p>
    <a href="https://forms.gle/prEqHtih4CTgEbwa9" target="_blank">
      Issue report form
    </a>
  </footer>
</main>
