<%- include('../partials/front-header') %>

<main id="press-kit-container">
  <div id="presskit-heading">
    <!-- <object
      id="hero"
      data="assets/blob-promo-presskit-hero.svg"
      type="image/svg+xml"
    ></object> -->

    <h1>Press Kit</h1>

    <div class="promo-text">
      <h2 class="promo-heading">Need Something?</h2>
      <p>
        Contact us at <br />
        <a href="mailto:admin@afiye.io">admin@afiye.io</a>
      </p>
    </div>
  </div>

  <div id="about">
    <img src="https://via.placeholder.com/133.png" alt="team img" />
    <div class="promo-text">
      <h2 class="promo-heading">About Us</h2>
      <p>I need something to put here</p>
    </div>
  </div>

  <div id="brand-guide">
    <h2 class="promo-heading">Brand Guide & Visual Identity</h2>
    <img
      src="../assets/imgs/brandGuideMobile.png"
      alt="Afiye brand guidelines"
    />
    <a
      href="/downloads/afiye-brandGuide.eps"
      id="download-brand-eps"
      class="button primary"
      >Download .eps</a
    >
    <a
      href="/downloads/afiye-brandGuide.pdf"
      id="download-brand-pdf"
      class="button primary"
      >Download .pdf</a
    >
  </div>

  <!-- start of gallery grid -->
    <div class="gallery-grid">

      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=1.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=2.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=3.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=4.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=5.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=6.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=7.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=8.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=9.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=10.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=11.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=12.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=13.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=14.jpg" alt="symbol image" title="symbol image">
      </figure>
      <figure class="gallery-frame">
        <img class="gallery-img" src="https://picsum.photos/230/300?random=15.jpg" alt="symbol image" title="symbol image">
      </figure>

    </div>
<!-- end of gallery grid -->

    <button id="download-media-zip" class="button primary">
      Download .zip
    </button>
  </div>

  <footer>
    <p id="copyright">&copy;afiye</p>
  </footer>
</main>
