<%- include('../partials/front-header') %>

<main id="team-container">
  <div id="team">
    <object
      id="hero"
      data="assets/blob-promo-team.svg"
      type="image/svg+xml"
    ></object>
    <h1>Meet the Team</h1>
  </div>

  <div id="team-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed
      pellentesque leo mi.
    </p>
  </div>

  <div id="members">
    <div id="item-a">
      <img
        class="team-portrait"
        src="https://via.placeholder.com/80.png"
        alt=""
      />

      <div id="item-a-description">
        <p>Name</p>
        <p>
          I am a Drexel student, I focused on UX, UI, and development. I am a
          unicorn.
        </p>
        <div id="item-a-social">
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
        </div>
      </div>
    </div>

    <div id="item-b">
      <img
        class="team-portrait"
        src="https://via.placeholder.com/80.png"
        alt=""
      />

      <div id="item-b-description">
        <p>Name</p>
        <p>
          I am a Drexel student, I focused on UX, UI, and development. I am a
          unicorn.
        </p>
        <div id="item-a-social">
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
        </div>
      </div>
    </div>

    <div id="item-c">
      <img
        class="team-portrait"
        src="https://via.placeholder.com/80.png"
        alt=""
      />

      <div id="item-c-description">
        <p>Name</p>
        <p>
          I am a Drexel student, I focused on UX, UI, and development. I am a
          unicorn.
        </p>
        <div id="item-a-social">
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
        </div>
      </div>
    </div>

    <div id="item-d">
      <img
        class="team-portrait"
        src="https://via.placeholder.com/80.png"
        alt=""
      />

      <div id="item-d-description">
        <p>Name</p>
        <p>
          I am a Drexel student, I focused on UX, UI, and development. I am a
          unicorn.
        </p>
        <div id="item-a-social">
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
        </div>
      </div>
    </div>

    <div id="item-e">
      <img
        class="team-portrait"
        src="https://via.placeholder.com/80.png"
        alt=""
      />

      <div id="item-e-description">
        <p>Name</p>
        <p>
          I am a Drexel student, I focused on UX, UI, and development. I am a
          unicorn.
        </p>
        <div id="item-a-social">
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
          <img src="https://via.placeholder.com/20.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div id="special-thanks">
    <h2 class="promo-heading">A Special Thanks To</h2>

    <div id="special-members">
      <div id="item-f">
        <img
          class="team-portrait"
          src="https://via.placeholder.com/80.png"
          alt=""
        />

        <div id="item-e-description">
          <p>Name</p>
          <p>I am Mira, I did art.</p>
          <div id="item-a-social">
            <img src="https://via.placeholder.com/20.png" alt="" />
            <img src="https://via.placeholder.com/20.png" alt="" />
            <img src="https://via.placeholder.com/20.png" alt="" />
          </div>
        </div>
      </div>

      <div id="item-g">
        <img
          class="team-portrait"
          src="https://via.placeholder.com/80.png"
          alt=""
        />

        <div id="item-g-description">
          <p>Name</p>
          <p>I am an advisor.</p>
          <div id="item-a-social">
            <img src="https://via.placeholder.com/20.png" alt="" />
            <img src="https://via.placeholder.com/20.png" alt="" />
            <img src="https://via.placeholder.com/20.png" alt="" />
          </div>
        </div>
      </div>

      <div id="item-h">
        <img
          class="team-portrait"
          src="https://via.placeholder.com/80.png"
          alt=""
        />

        <div id="item-h-description">
          <p>Name</p>
          <p>I am an advisor</p>
          <div id="item-a-social">
            <img src="https://via.placeholder.com/20.png" alt="" />
            <img src="https://via.placeholder.com/20.png" alt="" />
            <img src="https://via.placeholder.com/20.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
