<%- include('../partials/front-header') %>

<main id="team-container">
  <div id="team">
    <!-- <object id="hero" data="assets/blob-promo-team.svg" type="image/svg+xml"></object> -->
    <h1>Meet the Team</h1>
  </div>

  <div id="team-description">
    <p>afiye is a networking app developed by 5 seniors at Drexel University</p>
  </div>

  <div id="members">
    <div id="item-a">
      <img
        class="team-portrait"
        src="../assets/imgs/portraits/portrait-arpit.jpg"
        alt=""
      />

      <div id="item-a-description">
        <p>Arpit Ahluwalia</p>
        <p>
          Drexel Senior in Interactive Digital Media, focused on UX, UI, and
          development. I am a unicorn.
        </p>
        <!-- <div id="item-a-social">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">   
              </div> -->
      </div>
    </div>

    <div id="item-b">
      <img
        class="team-portrait"
        src="../assets/imgs/portraits/portrait-fidel.jpg"
        alt=""
      />

      <div id="item-b-description">
        <p>Fidel Boamah</p>
        <p>
          Drexel Senior in Interactive Digital Media, focused on UX, UI, and
          development. I am a unicorn.
        </p>
        <!-- <div id="item-a-social">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">   
              </div> -->
      </div>
    </div>

    <div id="item-c">
      <img
        class="team-portrait"
        src="https://res.cloudinary.com/afiye-io/image/upload/v1614875519/avatars/placeholder_female_akgvlb.png"
        alt=""
      />

      <div id="item-c-description">
        <p>Brianna Buissereth</p>
        <p>
          Drexel Senior in Interactive Digital Media, focused on UX, UI, and
          development. I am a unicorn.
        </p>
        <!-- <div id="item-a-social">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">   
              </div> -->
      </div>
    </div>

    <div id="item-d">
      <img
        class="team-portrait"
        src="../assets/imgs/portraits/portrait-erik.jpg"
        alt=""
      />

      <div id="item-d-description">
        <p>Erik Martus</p>
        <p>
          Drexel Senior in Interactive Digital Media, focused on front end and
          back end development
        </p>
        <!-- <div id="item-a-social">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">   
              </div> -->
      </div>
    </div>

    <div id="item-e">
      <img
        class="team-portrait"
        src="https://res.cloudinary.com/afiye-io/image/upload/v1614875519/avatars/placeholder_female_akgvlb.png"
        alt=""
      />

      <div id="item-e-description">
        <p>Ben Murray</p>
        <p>
          Drexel Senior in Interactive Digital Media, focused on UX, UI, and
          development. I am a unicorn.
        </p>
        <!-- <div id="item-a-social">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">
                  <img src="https://via.placeholder.com/20.png" alt="">   
              </div> -->
      </div>
    </div>

    <div id="item-f">
      <img
        class="team-portrait"
        src="../assets/imgs/portraits/portrait-mira.jpg"
        alt=""
      />

      <div id="item-f-description">
        <p>Mira Holahan</p>
        <p>
          Drexel Senior in Game Design. I provided concept art and
          illustrations for the project.
        </p>
        <!-- <div id="item-a-social">
                    <img src="https://via.placeholder.com/20.png" alt="">
                    <img src="https://via.placeholder.com/20.png" alt="">
                    <img src="https://via.placeholder.com/20.png" alt="">   
                </div> -->
      </div>
    </div>
  </div>

  <div id="special-thanks">
    <h2 class="promo-heading">A Special Thanks To</h2>

    <div id="special-members">
      <div id="item-g">
        <div id="item-g-description">
          <p>Phil Sinatra</p>
          <p>afiye's faculty advisor that kept the team on track</p>
          <!-- <div id="item-a-social">
                      <img src="https://via.placeholder.com/20.png" alt="">
                      <img src="https://via.placeholder.com/20.png" alt="">
                      <img src="https://via.placeholder.com/20.png" alt="">   
                  </div> -->
        </div>
      </div>

      <div id="item-h">
        <div id="item-h-description">
          <p>Troy Finnamore</p>
          <p>
            Drexel Faculty that provided many insights and advice throughout the
            project.
          </p>
          <!-- <div id="item-a-social">
                      <img src="https://via.placeholder.com/20.png" alt="">
                      <img src="https://via.placeholder.com/20.png" alt="">
                      <img src="https://via.placeholder.com/20.png" alt="">   
                  </div> -->
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p id="copyright">&copy;afiye</p>
  </footer>
</main>
