.menu-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left-items, right-items
                          left-items, right-items';
}

.left {
    float: left;
    width: 300px;
}

.next {
    float: right;
    width: 300px;
}

.mobile-menu {
    width: 85%;
    margin: 0 auto;
}

.account {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 64px;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
}

.item {
    display: flex;
    align-items: center;
}