<%- include('./partials/user-header') %>

<div class="container">
    <section class="image">
        <img src="../assets/imgs/mktree-1.png" alt="">
    </section>

    <h2 id="h2-ob1"> Are you...</h2>

    <section class="choices">
        <div class="making">
            <img src="../assets/imgs/maketree.png" alt="">
            <P>Making a tree</P>
        </div>
        <div class="joining">
            <img src="../assets/imgs/jointree.png" alt="">
            <P>Joining a tree</P>
        </div>
    </section>
    <a href="/account/makingtree" class="button primary">Next</a>
</div>

<%- include('./partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>