<%- include('./partials/user-header') %>

<div class="container">
    <section class="image">
        <h2 id="h2-ob1">Claim your profile</h2>
        <p>Your family may have already created a profile for you. Unclaimed profiles are placeholders for inactive family members.</p>

        <!-- <div class="input-container" style="margin: 0 auto; padding-bottom: 2rem;">
			<input
				class="input mobile"
				type="number"
				name="fname"
				placeholder="•••••••"
                style="    margin: 0 auto;"
			/>
		</div> -->

        <div class="user-info">

            <!-- profile img -->
            <div class="imgname">

            <div class="story">
                <img src="https://picsum.photos/45/45?random=1" alt="">
                <svg viewbox="0 0 100 100">
                    <circle cx="50" cy="50" r="40"/>
                </svg>
            </div>

            <!-- username -->            
            <div>
                <h2 style="text-align: left;">Paul Monroe</h2>
                <span>Daughter of Phil Monroe</span>
            </div>

            </div>

            <!-- timestamp -->
            <div class="timestamp" style="float: right;">
                <img style="padding-bottom: 10px; width: 10px;" src="../assets/icons/arrow.svg" alt="more">
            </div>

    </div>

    </section>
    

    <a href="/account/claimprofile-2" class="button primary">Next</a>
</div>

<%- include('./partials/user-mobile-nav') %>

<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>