<%- include('./partials/user-header') %>

<div class="container">
    <section class="image">
        <h2 id="h2-ob1">Create a Profile</h2>
        <img src="../assets/imgs/profileimg.png" alt="" style="padding-bottom: 2rem;">
		<div class="input-container" style="margin: 0 auto; padding-bottom: 2rem;">
			<input
				class="input mobile"
				type="text"
				name="fname"
				placeholder="Tracy Doe"
                style="    margin: 0 auto;"
			/>
			<div
				class="caption"
				style="color: #a0a3bd; font-size: 12px; padding-top: 5px"
			>
            This is how your name will appear
			</div>
		</div>

        <div class="input-container">
			<input
				class="input mobile"
		 		type="text"
				name="fname"
				placeholder="Birthdate"
                style="    margin: 0 auto;"

			/>
		</div>
        <div class="input-container">
			<input
				class="input mobile"
		 		type="text"
				name="fname"
				placeholder="Location (Optional)"
                style="    margin: 0 auto;"

			/>
		</div>
        <a href="/account/tree" class="button primary">Save</a>

    </section>
    <%- include('./partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>