<%- include('./partials/front-header') %>

<main style="    height: 100%;
background-color: white;">
	<!-- <h1>Login to your Account</h1> -->

	<%- include ('./partials/messages') %>
<div class="login-mobile" style="    text-align: center;
margin: 0 auto;
width: 375px;
padding-top: 6rem;">

	<img src="../assets/imgs/email.png" style= "    width: 60%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;">
	<h1 style="font-size: 1.5rem;">Email has been sent</h1>
	<p>Please check your inbox and click the received link to recover your email.</p>

	<!-- <form action="/login" method="post">
		<div class="input-container">
			<label for="email">Email</label>
			<input
				class="input mobile"
				type="email"
				name="email"
				placeholder="Email"
				style="height: 3.5rem;"
			/>
		</div> -->
		<!-- <a href="/forgotemail" style="text-align: right;"> Forgot email?</a> -->
		<button type="submit" class="button primary">Sign in</button>
	<!-- </form> -->
	<p>Didn't receive it? <a href="/register">Resend</a></p>
</div>
</main>
