<%- include('./partials/front-header') %>

<main style="    height: 100%;">

<img class="login-bubble1" src="assets/blob-promo-index-hero.svg">
<img class="login-bubble2" src="assets/blob-promo-index-hero.svg">
	<!-- <h1>Login to your Account</h1> -->

	<%- include ('./partials/messages') %>
<div class="login-mobile">

	<img src="../assets/imgs/pwd.png" style= "
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;">
	<h1>Forgot Password?</h1>
	<p>We will send a recovery link to your email.</p>

	<form action="/login" method="post">
		<div class="input-container">
			<!-- <label for="email">Email</label> -->
			<input
				class="input mobile"
				type="email"
				name="email"
				placeholder="Email"
				style="height: 3.5rem;"
			/>
		</div>
		<button style="width: 300px;" type="submit" class="button primary new">Next</button>
	</form>

	<a href="/emailsent" style="text-align: right; padding-top: 2rem;"> Forgot email?</a>

	<!-- <p>Don't have an account? <a href="/register">Sign Up</a></p> -->
</div>
</main>
