<%- include('./partials/user-header') %>

<div class="container">
    <section class="image">
        <img src="../assets/imgs/jointree-2.png" alt="">
    </section>

    <h2 id="h2-ob1"> Joining a network</h2>
    <p>  Join your family tree with an invite code</p>
    

    <a href="/account/inputcode" class="button primary">Input code</a>
</div>

<%- include('./partials/user-mobile-nav') %>

<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>