<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- title %></title>

		<link rel="stylesheet" href="../css/app.css" type="text/css" />
	</head>
	<body>
		<%- body %>
		<script src="../js/app.bundle.js"></script>
		<script src="../js/runtime~app.bundle.js"></script>
		<script src="../js/vendors~app~tree.bundle.js"></script>
	</body>
</html>
