<%- include('./partials/front-header') %>

<main style="    height: 100%;
background-color: white;">
	<!-- <h1>Login to your Account</h1> -->

	<%- include ('./partials/messages') %>
<div class="login-mobile" style="    text-align: center;
margin: 0 auto;
width: 375px;
padding-top: 6rem;">

	<img src="../assets/imgs/afiye-icon.png" style= "    width: 30%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;">
	<h1 style="font-size: 1.5rem; color: #922bfe;">Afiye</h1>
	<p>Your whole family in one place</p>

	<form action="/login" method="post">
		<div class="input-container">
			<!-- <label for="email">Email</label> -->
			<input
				class="input mobile"
				type="email"
				name="email"
				placeholder="Enter Email"
				style="height: 3.5rem;"
			/>
		</div>
		<div class="input-container">
			<!-- <label for="passord">Password</label> -->
			<input
				class="input mobile"
				type="password"
				name="password"
				placeholder="Enter Password"
				style="height: 3.5rem;"
			/>
		</div>
		<a href="/forgotpwd" style="text-align: right;"> Forgot password?</a>
		<button type="submit" class="button primary">Login</button>
	</form>
	<p>Don't have an account? <a href="/register">Sign Up</a></p>
</div>
</main>
