<%- include('./partials/front-header') %>

<main style="padding-top: 2rem; height:100%; background-color: white;">
	<h1 style="text-align: center;">Sign Up</h1>

	<%- include ('./partials/messages') %>

	<form action="/login" method="post" style="margin: 0 auto; width: 375px; text-align: center;">
		<div class="input-container">
			<!-- <label for="email">Email</label> -->
			<input
				class="input mobile"
				type="email"
				name="email"
				placeholder="First Name"
				style="height: 3.5rem;"
			/>
		</div>
		<div class="input-container">
			<!-- <label for="passord">Password</label> -->
			<input
				class="input mobile"
				type="password"
				name="password"
				placeholder="Last Name"
				style="height: 3.5rem;"
			/>
		</div>

		<div class="input-container">
			<!-- <label for="passord">Password</label> -->
			<input
				class="input mobile"
				type="password"
				name="password"
				placeholder="Email"
				style="height: 3.5rem;"
			/>
		</div>

		<div class="input-container">
			<!-- <label for="passord">Password</label> -->
			<input
				class="input mobile"
				type="password"
				name="password"
				placeholder="Password"
				style="height: 3.5rem;"
			/>
		</div>

		<div class="input-container">
			<!-- <label for="passord">Password</label> -->
			<input
				class="input mobile"
				type="password"
				name="password"
				placeholder="Confirm Password"
				style="height: 3.5rem;"
			/>
		</div>
		<!-- <a href="/forgotpwd" style="text-align: right;"> Forgot password?</a> -->
		<button type="submit" class="button primary">Sign Up</button>
	</form>

	<p style="text-align: center;">Already have an account? <a href="/login">Login</a></p>
</main>
