<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<h2 class="header-title-mobile" style="position: absolute; left:30px; top:50px;">Leave Tree</h2>
<p class="mobile-text-small" style="position: absolute; top:130px; margin: 0 auto; padding: 0 20px;"> 
    We will maintain your log in data. This means you will be able to rejoin a tree or create
    a new tree at a later date with the same login credentials.
</p>
<input class="input" style="position: absolute; width: 325px; height: 55px; left: 25px; top: 250px;" placeholder="Confirm Password"> </input>
<p class="mobile-link-x-small" style="position: absolute; left:125px; top:320px; color:#922AFF;">Forgot password?</p>
<p class="mobile-text-x-small" style="position: absolute; left:135px; top:440px; color: #8E8BA5;">Joined July 2020</p>
<button class="button primary" :disabled style="position: absolute; left: 93px; top: 495px;"> Leave Tree </button>