<%- include('./partials/user-header') %>

<h2 class="header-title-mobile" style="position: absolute; left:30px; top:50px;"> Accessibility Options </h2>
<p class="mobile-text-small" style="position: absolute; left: 30px; top: 140px;">Contrast Mode</p>
<div style="position: absolute; left: 300px; top: 150px;">
    <label class="toggle"> 
    <input type="checkbox">
    <span class="slider round"></span>
</label>
</div>
