<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="header">
<h1 class="header-title-mobile">Account Settings</h1>
</div>
<div class="section">
<p class="mobile-text-medium heading"> Change Password </p>
<a href="/account/settings-account-change-password"> <button type="submit" class="button icon next"> > </button> </a>
<hr class ="solid"> 
</div>
<div class="section">
<p class="mobile-text-medium heading"> Leave Tree </p>
<a href="/account/settings-account-leave-tree"><button type="submit" class="button icon next"> > </button> </a>
<hr class ="solid">
</div>
<div class="section">
<p class="mobile-text-medium heading"> Deactivate Account </p>
<a href="/account/settings-account-deactivate"> <button type="submit" class="button icon next"> > </button> </a>
<hr class ="solid">
</div>