<%- include('./partials/user-header') %>

<h2 class="header-title-mobile" style="position: absolute; left:30px; top:50px;">Email Notifications</h2>
<p class="mobile-text-large" style="position: absolute; left:30px; top:120px;"> Set Notification Options </p>
<p class="mobile-text-small" style="position: absolute; top:180px; left:30px;"> 
    Set what emails you wish to receive
</p>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:230px; color: #8E8BA5;">When tagged</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 230px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:280px; color: #8E8BA5;">Person joins tree</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 280px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:330px; color: #8E8BA5;">Memory Reminders</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 330px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:380px; color: #8E8BA5;">Unsubscribe from all</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 380px;"> </input>