<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="header">
<h1 class="header-title-mobile">Account Settings</h1>
</div>
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Change Password </p>
    </div>
    <div class="right">
    <a href="/account/settings-account-change-password"> <button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class ="solid"> 
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Leave Tree </p>
    </div>
    <div class="right">
    <a href="/account/settings-account-leave-tree"><button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class ="solid">
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Deactivate Account </p>
    </div>
    <div class="right">
    <a href="/account/settings-account-deactivate"> <button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class ="solid">