<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<h2 class="header-title-mobile" style="position: absolute; left:30px; top:50px;">Account Settings</h2>
<p class="mobile-text-small" style="position: absolute; top:115px; margin: 0 auto; padding: 0 20px;"> 
    You can change your password to a more secure one here
</p>
<input class="input" style="position: absolute; width: 310px; height: 55px; left: 30px; top: 172px;" placeholder="Old Password"> </input>
<input class="input" style="position: absolute; width: 310px; height: 55px; left: 30px; top: 243px;" placeholder="New Password"> </input>
<input class="input" style="position: absolute; width: 310px; height: 55px; left: 30px; top: 314px;" placeholder="Confirm New Password"> </input>
<button class="button primary" :disabled style="position: absolute; left: 93px; top: 495px;"> Save </button>