<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<h2 class="header-title-mobile" style="position: absolute; left:30px; top:50px;">Account Settings</h2>
<p class="mobile-text-medium" style="position: absolute; left:65px; top:130px;"> Change Password </p>
<a href="/account/settings-account-change-password"> <button type="submit" class="button icon" style="position: absolute; left:320px; top:140px;"> > </button> </a>
<hr class ="solid" style="position: absolute; top:180px"> 
<p class="mobile-text-medium" style="position: absolute; left:65px; top:200px;"> Leave Tree </p>
<a href="/account/settings-account-leave-tree"><button type="submit" class="button icon" style="position: absolute; left:320px; top:210px;"> > </button>
<hr class ="solid" style="position: absolute; top:250px">
<p class="mobile-text-medium" style="position: absolute; left:65px; top:270px;"> Deactivate Account </p>
<a href="/account/settings-account-deactivate"> <button type="submit" class="button icon" style="position: absolute; left:320px; top:280px;"> > </button>
<hr class ="solid" style="position: absolute; top:320px">