<%- include('./partials/user-header') %>

<h2 class="header-title-mobile" style="position: absolute; left:30px; top:50px;">Privacy Settings</h2>
<p class="mobile-text-large" style="position: absolute; left:30px; top:120px;"> Memories </p>
<p class="mobile-text-small" style="position: absolute; top:180px; margin: 0 auto; padding: 0 20px"> 
    Set who in your family tree can see your memories by default
</p>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:230px; color: #8E8BA5;">People tagged</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 230px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:280px; color: #8E8BA5;">Immediate Family</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 280px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:330px; color: #8E8BA5;">Extended Family</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 330px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:380px; color: #8E8BA5;">Everyone</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 380px;"> </input>
<hr class ="solid" style="position: absolute; top:430px">

<p class="mobile-text-large" style="position: absolute; left:30px; top:480px;"> Family Memories </p>
<p class="mobile-text-small" style="position: absolute; top:540px; margin: 0 auto; padding: 0 20px"> 
    Set what memories created by your family members you see by default
</p>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:590px; color: #8E8BA5;">People tagged</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 590px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:640px; color: #8E8BA5;">Immediate Family</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 640px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:690px; color: #8E8BA5;">Extended Family</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 690px;"> </input>
<p class="mobile-text-x-small" style="position: absolute; left:30px; top:740px; color: #8E8BA5;">Everyone</p>
<input type="checkbox" class="check-container checkbox" style="position: absolute; height:25px; width:25px; left: 321px; top: 740px;"> </input>
<hr class ="solid" style="position: absolute; top:800px">
