<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="header" style="margin: 25px 0 0 30px;">
<h2 class="header-title-mobile">Privacy Settings</h2>
</div>
<p class="mobile-text-large" style="position: absolute; left:30px; top:120px;"> Memories </p>
<p class="mobile-text-small" style="position: absolute; top:180px; margin: 0 auto; padding: 0 30px"> 
    Set who in your family tree can see your memories by default
</p>
<div class="section" style="height: 50px; width: 90%; position: relative; float: left; margin: 100px 35px 0;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">People tagged</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Immediate Family</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Extended Family</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 75px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Everyone</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
<hr class ="solid" style="margin: 55px 0;">
</div>


<p class="mobile-text-large" style="position: absolute; left:30px; top:440px;"> Family Memories </p>
<p class="mobile-text-small" style="position: absolute; top:500px; margin: 0 auto; padding: 0 30px"> 
    Set what memories created by your family members you see by default
</p>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left; margin-top:100px;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">People tagged</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Immediate Family</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Extended Family</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Everyone</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
<hr class ="solid" style="margin: 55px 0;">
</div>