<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="header">
<h1 class="header-title-mobile"> Accessibility Options </h1>
</div>
<div class="section" style="height: 75px; width: 90%; position: relative; float: left;">
<p class="mobile-text-small" style="float: left;">Contrast Mode</p>
    <div style="float: right;"> 
    <label class="toggle"> 
    <input type="checkbox">
    <span class="slider round"></span>
</label>
</div>
</div>
