<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="header">
<h1 class="header-title-mobile">Settings</h1>
</div>
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Account Settings </p>
    </div>
    <div class="right">
    <a href="/account/settings-account"><button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class="solid"> 
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Privacy Settings </p>
    </div>
    <div class="right">
    <a href="/account/settings-privacy"><button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class ="solid">
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Accessibility Options </p>
    </div>
    <div class="right">
    <a href="/account/settings-accessibility"><button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class ="solid">
<div class="section">
    <div class="left">
    <p class="mobile-text-medium heading"> Email Notifications </p>
    </div>
    <div class="right">
    <a href="/account/settings-email"><button type="submit" class="button icon next"> > </button> </a>
    </div>
</div>
<hr class ="solid">

<div class="hot">
    <div class="list" style="display: flex; width: 100vw; margin: 0 auto">
        <div class="title">
            <h3>Menu Item</h3>
        </div>
        <div class="btns">
            <img src="../assets/icons/more.svg"
        </div>

    </div>
</div>


<div class="menu-list">
    <div class="left">
        <div class="title">
            <h2> Account Settings</h2>
        </div>
    </div>

    <div class="next">
        <button class="feed-btn">
            <img src="../assets/icons/upload.svg">
        </button>
    </div>
</div>

<div class="menu-list">
    <div class="left">
        <div class="title">
            <h2> Privacy Settings</h2>
        </div>
    </div>

    <div class="next">
        <button class="feed-btn">
            <img src="../assets/icons/upload.svg">
        </button>
    </div>
</div>

<div class="menu-list">
    <div class="left">
        <div class="title">
            <h2>Accessibility Options</h2>
        </div>
    </div>

    <div class="next">
        <button class="feed-btn">
            <img src="../assets/icons/upload.svg">
        </button>
    </div>
</div>

<div class="menu-list">
    <div class="left">
        <div class="title">
            <h2>Email notifications</h2>
        </div>
    </div>
</div>