<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<svg height="100" width="100" style="position: absolute; left: 80px; top: 15px;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 100px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 120px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 140px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 160px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 180px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>

<h2 class="header-title-mobile" style="position: absolute; left:145px; top:80px;">Nodes</h2>
<p class="mobile-text-small" style="position: absolute; top:150px; left:30px; padding-right: 20px;"> 
    From your Family Tree, you are able to see the connections between everyone 
    that has been added.  Each node represents a family member and their profile! 
</p>
    <img src="../assets/icons/user.svg" style="position: absolute; width:48px; height:48px; top:300px; left:150px;">
<p class="mobile-text-small" style="position: absolute; top:440px; left:32px; padding-right: 20px;"> 
    You can select anyone’s node to view their profile in the Family Tree.  
</p>
<a href="/account/tree-tutorial-2"><button class="button primary" :disabled style="position: absolute; left: 88px; top: 570px;"> Next </button></a>