<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="breadcrumbs">
<svg height="10" width="10" style="float: left; margin: 0 10px 0 45px;">
    <circle cx="5" cy="5" r="4" fill="#5700B3"/>
  </svg>
  <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
    <circle cx="5" cy="5" r="4" fill="#5700B3"/>
  </svg>
  <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
    <circle cx="5" cy="5" r="4" fill="#5700B3"/>
  </svg>
  <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
    <circle cx="5" cy="5" r="4" fill="#5700B3"/>
  </svg>
  <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
    <circle cx="5" cy="5" r="4" fill="#5700B3"/>
  </svg>
  <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
    <circle cx="5" cy="5" r="4" fill="#5700B3"/>
  </svg>
</div>
<div style="margin: 0 auto; text-align: center;">
<h2 class="header-title-mobile" style="text-align: center;">Nodes</h2>
<p class="mobile-text-small" style="text-align:left; margin: 0 auto; padding: 10px 40px;"> 
    From your Family Tree, you are able to see the connections between everyone 
    that has been added.  Each node represents a family member and their profile! 
</p>
    <img src="../assets/icons/user.svg" style="margin: 40px auto; text-align: center; width:48px; height:48px;">
<p class="mobile-text-small" style="text-align:left; margin: 0 auto; padding: 10px 40px;"> 
    You can select anyone’s node to view their profile in the Family Tree.  
</p>
</div>
<div style="height:70px; margin-top: 120px;">
<a href="/account/tree-tutorial-2"><button class="button primary" :disabled style="margin: 0 auto; width: 90%;"> Next </button></a>
</div>