<div class="full-height">
	<%- include('./partials/user-header') %>
	<div id="family-container">
		<div id="inner-container">
			<input type="search" name="family-search" id="family-search" />
			<h2>Family Members</h2>
			<div id="family-list"></div>
		</div>
	</div>

	<div id="graph"></div>

	<%- include('./partials/user-mobile-nav') %>
</div>

<script type="text/javascript">
	const data = <%- JSON.stringify(data) %>;
</script>
<script src="../js/tree.bundle.js"></script>
<script src="../js/runtime~tree.bundle.js"></script>
