<%- include('./partials/user-header') %>

<h1>Tree</h1>

<p>Welcome <%= user.name %></p>

<script type="text/javascript">
	const data = <%- JSON.stringify(data) %>;
</script>
<script src="../js/tree.bundle.js"></script>
<script src="../js/runtime~tree.bundle.js"></script>
