<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="breadcrumbs">
    <svg height="10" width="10" style="float: left; margin: 0 10px 0 45px; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
    </div>

<div style="margin: 20px auto; text-align: center;">
<h1 class="header-title-mobile" style="text-align: center;"> Tree View</h1>
<p class="mobile-text-small" style="text-align:center; margin: 0 auto; padding: 10px 40px; max-width: 55ch;"> 
    To see your family in a more traditional way, tap the switch!
</p>
</div>
<div style="height:50px; width:160px;margin:20px auto 0; text-align: center;"> 
<button type="submit" class="button icon primary" style="float: left; width:56px; height:56px; border-radius: 5rem;"> T </button> </a>
<a href="/account/tree-tutorial-3"><button type="submit" class="button icon"  style="float: right; width:56px; height:56px;  border-radius: 5rem;"> N </button> </a>
</div>
<p class="mobile-text-small" style="text-align: center; margin-top: 30px;"> 
    Tree View
</p>

<div style="height:70px; margin-top: 132px;">
<a href="/account/tree-tutorial-5"><button class="button primary" :disabled style="margin: 0 auto;"> Next </button></a>
</div>