<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<svg height="100" width="100" style="position: absolute; left: 80px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 100px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 120px; top: 15px;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 140px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 160px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 180px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>

<h2 class="header-title-mobile" style="position: absolute; left:125px; top:80px;"> Network View</h2>
<p class="mobile-text-small" style="position: absolute; top:150px; left:32px; padding-right: 20px;"> 
    To see your family in a more traditional way, tap the switch!
</p>
<a href="/account/tree-tutorial-4"><button type="submit" class="button icon" style="position: absolute; width:56px; height:56px; left:125px; top:240px; border-radius: 5rem;"> T </button> </a>
<button type="submit" class="button icon primary" style="position: absolute; width:56px; height:56px; left:195px; top:240px; border-radius: 5rem;"> N </button>
<p class="mobile-text-small" style="position: absolute; top:295px; left:150px;"> 
    Network View
</p>
<a href="/account/tree-tutorial-4"><button class="button primary" :disabled style="position: absolute; left: 88px; top: 570px;"> Next </button></a>