<%- include('./partials/user-header') %>

<svg height="100" width="100" style="position: absolute; left: 80px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 100px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 120px; top: 15px;opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 140px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 160px; top: 15px;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 180px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>


<h2 class="header-title-mobile" style="position: absolute; left:125px; top:80px;">Add a Node</h2>
<p class="mobile-text-small" style="position: absolute; top:150px; left:32px; padding-right: 20px;"> 
    If you notice that your Family Tree is missing someone, be sure to add their profile node with the Add Button.
</p>
<img src="../assets/icons/plus.svg" style="position: absolute; width:48px; height:48px; top:260px; left:140px; color: #550EA2;">
<p class="mobile-text-small" style="position: absolute; top:350px; left:32px; padding-right: 20px;"> 
    In a person’s profile node, you can add their name, birthday, profile picture and more!
    If you are unable to add a profile, you may not have permission to do so.  Ask an admin for assistance!
</p>

<a href="/account/tree-tutorial-6"><button class="button primary" :disabled style="position: absolute; left: 88px; top: 570px;"> Next </button></a>