<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<svg height="100" width="100" style="position: absolute; left: 80px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 100px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 120px; top: 15px;opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 140px; top: 15px; opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 160px; top: 15px;opacity: 0.4;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>
  <svg height="100" width="100" style="position: absolute; left: 180px; top: 15px;">
    <circle cx="50" cy="50" r="4" fill="#5700B3"/>
  </svg>


<h2 class="header-title-mobile" style="position: absolute; left:115px; top:80px;">Send a Code</h2>
<p class="mobile-text-small" style="position: absolute; top:150px; left:32px; padding-right: 20px;" > 
    Some profiles in your family tree may still be empty!  You can help get your family members into your tree.
</p>
<h2 class="header-title-mobile" style="position: absolute; left:130px; top:220px;">### ###</h2>
<p class="mobile-text-small" style="position: absolute; top:300px; left:32px; padding-right: 20px;"> 
    Select an empty profile to generate and send an invite code to them to join!
</p>

<a href="/account/tree"><button class="button primary" :disabled style="position: absolute; left: 88px; top: 570px;"> Finish </button></a>