<%- include('./partials/user-header') %>
<%- include('./partials/user-mobile-nav') %>

<div class="breadcrumbs">
    <svg height="10" width="10" style="float: left; margin: 0 10px 0 45px; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
      <svg height="10" width="10" style="float: left; margin: 0 10px 0 0; opacity: 0.4;">
        <circle cx="5" cy="5" r="4" fill="#5700B3"/>
      </svg>
    </div>

<div style="margin: 0 auto; text-align: center;">
<h1 class="header-title-mobile" style="text-align: center;">Add a Node</h1>
<p class="mobile-text-small" style="text-align:left; margin: 0 auto; padding: 10px 40px; max-width: 55ch;"> 
    If you notice that your Family Tree is missing someone, be sure to add their profile node with the Add Button.
</p>
<img src="../assets/icons/plus.svg" style="margin: 40px auto; text-align: center; width:48px; height:48px; color: #550EA2;">
<p class="mobile-text-small" style="text-align:left; margin: 0 auto; padding: 10px 40px; max-width: 55ch;"> 
    In a person’s profile node, you can add their name, birthday, profile picture and more!
    If you are unable to add a profile, you may not have permission to do so.  Ask an admin for assistance!
</p>
</div>
<div style="height:70px; margin-top: 120px;">
<a href="/account/tree-tutorial-6"><button class="button primary" :disabled style="margin: 0 auto;"> Next </button></a>
</div>