<%- include('./partials/user-header') %>

<h1>Tree</h1>

<p>Welcome <%= user.name %></p>
<a href="/account/tree-tutorial-1"><button type="submit" class="button primary" style="position: absolute; left:85px; top:140px;"> Tutorial </button> </a>
