<%- include('./partials/user-header') %>

<div class="container">
    <img id="logo-ob1" src="../assets/imgs/afiye-icon.png" alt="Afiye-logo">
    <h2  id="h2-ob1"> Welcome to afiye</h2>
    <p  id="p-ob1"> afiye is an app catered towards families for sharing important memories and connecting with your loved ones. </p>
    <a href="/account/choice" class="button primary">Next</a>
</div>

<%- include('./partials/user-mobile-nav') %>
<div class="footer-box">
    <p class="footer-title">© afiye 2020</p>
</div>