<%- include('../../partials/user-header') %>
<%- include('../../partials/user-mobile-nav') %>

<div class="header" style="margin: 25px 0 0 30px;">
<h2 class="header-title-mobile">Email Notifications</h2>
</div>

<p class="mobile-text-large" style="position: absolute; left:30px; top:120px;"> Set Notification Options </p>
<p class="mobile-text-small" style="position: absolute; top:180px; margin: 0 auto; padding: 0 30px"> 
    Set what emails you wish to receive
</p>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left; margin: 100px 35px 0;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">When tagged</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Person joins tree</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Memory Reminders</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>

<div class="section" style="height: 50px; width: 90%; position: relative; float: left;">
<p class="mobile-text-x-small" style="float: left; color: #8E8BA5;">Unsubscribe from all</p>
<input type="checkbox" class="check-container checkbox" style="float:right; height:25px; width:25px;"> </input>
</div>