<%- include('../../partials/user-header') %>
<%- include('../../partials/user-mobile-nav') %>

<div class="header">
<h1 class="header-title-mobile">Account Settings</h1>
</div>
<div class="section" style="height: 130px;">
<p class="mobile-text-small" style="text-align: center; margin: 0 auto 30px; padding-left: 30px; float:left;"> 
    You can change your password to a more secure one here
</p>
</div>
<input class="input" style="height: 55px; margin:10px auto 20px" placeholder="Old Password"> </input>
<input class="input" style="height: 55px; margin:10px auto 20px" placeholder="New Password"> </input>
<input class="input" style="height: 55px; margin:10px auto 20px" placeholder="Confirm New Password"> </input>
<button class="button primary" :disabled style="margin:80px auto 0;"> Save </button>