<%- include('../../partials/user-header') %>

<div class="header">
  <h1 class="header-title-mobile">Accessibility Options</h1>
</div>
<div class="section" style="margin: 0 50px">
  <div class="left">
    <p class="mobile-text-small">Contrast Mode</p>
  </div>
  <div class="right">
    <label class="toggle">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
  </div>
</div>
<hr class="solid" />
<div class="section" style="margin: 0 50px">
  <div class="left">
    <p class="mobile-text-small">No Animations</p>
  </div>
  <div class="right">
    <label class="toggle">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
  </div>
</div>
<%- include('../../partials/user-mobile-nav') %>
