<%- include('../../partials/user-header') %>
<%- include('../../partials/user-mobile-nav') %>

<div class="header">
<h1 class="header-title-mobile">Leave Tree</h1>
</div>
<div class="section" style="height: 130px;">
<p class="mobile-text-small" style="text-align: left; margin: 20px 0 30px; padding-left: 10px; max-width: 55ch; float:left;"> 
    We will maintain your log in data. This means you will be able to rejoin a tree or create
    a new tree at a later date with the same login credentials.
</p>
</div>
<input class="input" style="height: 55px; margin:30px auto" placeholder="Confirm Password"> </input>
<p class="mobile-link-x-small" style="color:#922AFF; text-align: center; margin-top: 300px;">Forgot password?</p>
<p class="mobile-text-x-small" style="color: #8E8BA5; text-align: center; margin-top: 40px">Joined July 2020</p>
<button class="button primary" :disabled style="margin: 0 auto;"> Leave Tree </button>