<header class="front-header">
	<nav class="header-nav">
		<h2 class="header-title">afiye</h2>
		<div class="nav-toggle" id="mobile-nav">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="nav-link-group">
			<span class="nav-link <% if (title === 'Afiye') { %>active<% } %>"
				><a href="/">Home</a></span
			>
			<span
				class="nav-link <% if (title === 'Afiye - Press Kit') { %>active<% } %>"
				><a href="/press-kit">Press Kit</a></span
			>
			<span
				class="nav-link <% if (title === 'Afiye - Case Study') { %>active<% } %>"
				><a href="/case-study">Case Study</a></span
			>
			<span
				class="nav-link <% if (title === 'Afiye - Register Account') { %>active<% } %>"
				><a href="/register">Register</a></span
			>
			<span
				class="nav-link <% if (title === 'Afiye - Account Login') { %>active<% } %>"
				><a href="/login">Login</a></span
			>
		</div>
	</nav>
</header>
