<header>
	<nav>
		<a href="/">Home</a>
		<a href="/press-kit">Press Kit</a>
		<a href="/case-study">Case Study</a>
		<a href="/account/register">Register</a>
		<a href="/account/login">Login</a>
	</nav>
</header>
