<% if(typeof errors!= 'undefined') { %>
  <% errors.forEach(function(error){ %>
    <div class="message error">
      <i class="icon icon-alert"></i>
      <p><%= error.msg %></p>
    </div>
  <% }) %>
<% } %>
<% if(success_msg!='') { %>
  <div class="message success">
    <i class="icon icon-tick"></i>
    <p><%= success_msg %></p>
  </div>
<% } %>
<% if(error_msg != '') { %>
  <div class="message error">
    <i class="icon icon-alert"></i>
    <p><%= error_msg %></p>
  </div>
<% } %>
<% if(error != '') { %>
  <div class="message error">
    <i class="icon icon-alert"></i>
    <p><%= error %></p>
  </div>
<% } %>
