<div class="avatar-circle">
	<div id="avatar"></div>

	<div class="user-name">
	<p>Jessica Monroe</p>
	</div>

	<div class="button">
	<a href="#" class="center">View in Tree</a>
	</div>
	
	<p class="birth">Birth date</p>
	<p class="birthdate">15 Apr 93'</p>

	<p class="location">Lives in</p>
	<p class="state">PA</p>
	
	<a href='#'class="edit-profile">Edit profile</a>

	<div class="divider"></div>