
<style>

body{
    background-color: #6e719180;
}

.grayscale-img{
background-image: url('https://via.placeholder.com/150');
width: 85px;
height: 85px;
background-size: cover;
background-position: top center;
    margin: 4.5em auto;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

@media only screen and (min-width: 376px) {
.notification{
    position: fixed;
    width: 310px;
    height: 364px;
    left: 50%;
    top:50%;
    border-radius: 10px;
    margin-top: -182px;
    margin-left: -155px;
    background-color: #ffffff
}

h2{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    margin-top: -15%;
    text-align: center;
}


h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    width: 224px;
    margin-left: 15%;
    text-align: center;
}


}

@media only screen and (min-width: 768px) {
    .notification{
    position: fixed;
    width: 494px;
    height: 494px;
    left: 50%;
    top:50%;
    border-radius: 10px;
    margin-top: -247px;
    margin-left: -247px;
    background-color: #ffffff
}

.grayscale-img{
background-image: url('https://via.placeholder.com/150');
width: 120px;
height: 120px;
background-size: cover;
background-position: top center;
    margin: 7.5em auto;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}


h2{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    margin-top: -20%;
    text-align: center;
}


h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    width: 300px;
    margin-left: 21%;
    text-align: center;
}

}

@media only screen and (min-width: 1440px) {
    .notification{
    position: fixed;
    width: 745px;
    height: 655px;
    left: 50%;
    top:50%;
    border-radius: 10px;
    margin-top: -327.5px;
    margin-left: -372.5px;
    background-color: #ffffff
}

.grayscale-img{
background-image: url('https://via.placeholder.com/150');
width: 200px;
height: 200px;
background-size: cover;
background-position: top center;
    margin: 9.5em auto;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}


h2{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    margin-top: -15%;
    text-align: center;
}


h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    width: 300px;
    margin-left: 31%;
    text-align: center;
}

}


</style>

<html>
<body>

<div class="notification">
<div class="grayscale-img"></div>
<h2>Hold On!</h2>
<h3>We are connecting you to your family now...</h3>
</div>

</body>
</html>