<header>
	<nav>
		<a href="/account/feed">Feed</a>
		<a href="/account/tree">Tree</a>
		<a href="/account/profile">Profile</a>
		<a href="/account/settings">Settings</a>
		<a href="/account/logout">Logout</a>
	</nav>
</header>
