<%- include('../partials/user-header') %>

<main>

  <a href="/account/tree">
		<img class="back-arrow" src="C:\Users\bam32\Documents\GitHub\afiye\src\assets\icons\arrow.svg">
		</a>

  <%- include('../partials/add-user-form') %>
</main>
