@import "./foundation/_variables";
@import "./foundation/_mixins";
@import "./foundation/_fonts";
@import "./foundation/_icons";

@import "./partials/_base";
@import "./partials/_button";
@import "./partials/_checkbox";
@import "./partials/_cardStyle";
@import "./partials/_textInput";
@import "./partials/_header";
@import "./partials/_footer";
@import "./partials/_avatars";

@import "./pages/promo-index";